/*
Theme Name: VideoHost
Theme URI: https://www.happythemes.com/wordpress-themes/videohost
Author: HappyThemes
Author URI: https://www.happythemes.com
Description: VideoHost is a WordPress video theme by <a href="https://www.happythemes.com" target="_blank">HappyThemes</a>.
Version: 1.2
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: videohost
Tags: two-columns, right-sidebar
*/
/*--------------------------------------------------------------
 Reset
--------------------------------------------------------------*/
html {
  -webkit-text-size-adjust: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  word-wrap: break-word;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  color: #4b4f56;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #4b4f56;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #333;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

sup {
  top: -.5em;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.no-list-style {
  list-style: none;
  margin: 0;
  padding: 0;
}

figure > img {
  display: block;
}

img {
  height: auto;
  max-width: 100%;
}

img[class*="align"],
img[class*="attachment-"] {
  height: auto;
}

embed,
iframe,
object,
.wp-video {
  max-width: 100% !important;
  width: 100% !important;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption .wp-caption-text {
  margin: 0.5075em 0;
}

.wp-caption-text {
  text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-caption {
  display: block;
}

/*--------------------------------------------------------------
1. Defaults
--------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-weight: bold;
}

strong,
b {
  font-weight: bold;
}

input,
textarea,
select {
  -webkit-appearance: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input,
input[type="text"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="password"],
textarea {
  font-size: 14px;
  font-weight: normal;
  background-color: #333;
  border: 1px solid #000;
  border-radius: 2px;
  border-bottom: 1px solid #444;
  outline: none;
  color: #fff;
}

input:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
textarea:focus {
  background-color: #333;
  outline: none;
}

textarea {
  border-radius: 2px;
  padding: 10px 15px;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="password"] {
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
}

button,
.btn,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  border: none;
  padding: 0 15px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  -webkit-backface-visibility: hidden;
}

button:hover,
.btn:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  background-image: url("assets/img/overlay.png");
  background-repeat: repeat;
  text-decoration: none;
}

button:focus,
textarea:focus {
  outline: 0;
}

table {
  border-width: 1px;
  border-color: #444;
  border-collapse: collapse;
  width: 100%;
}

table th {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #444;
  background-color: #222;
}

table tr:hover td {
  background-color: #333;
}

table td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #444;
  background-color: #333;
}

.alignleft {
  float: left;
  margin: 0 20px 20px 0;
}

.alignright {
  float: right;
  margin: 0 0 20px 20px;
}

.aligncenter {
  display: block;
  margin: 0 auto;
  text-align: center;
  clear: both;
}

.alignnone {
  display: block;
}

/* Clear Floats */
.clear:before,
.clear:after {
  content: "";
  display: table;
}

.clear:after {
  clear: both;
}

.clear {
  clear: both;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.sticky,
.bypostauthor {
  background: inherit;
  color: inherit;
}

body {
  background: #171717;
  color: #ccc;
  color: rgba(255, 255, 255, 0.8);
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.55em;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active, a:focus {
  outline: 0;
}

.container {
  margin: 0 auto;
  width: 1080px;
}

/* =Genericons, thanks to FontSquirrel.com for conversion!
-------------------------------------------------------------- */
@font-face {
  font-family: 'Genericons';
  src: url("genericons/font/genericons-regular-webfont.eot");
  src: url("genericons/font/genericons-regular-webfont.eot?#iefix") format("embedded-opentype"), url("genericons/font/genericons-regular-webfont.woff") format("woff"), url("genericons/font/genericons-regular-webfont.ttf") format("truetype"), url("genericons/font/genericons-regular-webfont.svg#genericonsregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Genericons */
.bypostauthor > article .fn:before,
.comment-edit-link:before,
.comment-reply-link:before,
.comment-reply-login:before,
.comment-reply-title small a:before,
.comment-list .children li:before,
.contributor-posts-link:before,
.menu-toggle:before,
.search-toggle:before,
.slider-direction-nav a:before,
.widget_happythemes_ephemera .widget-title:before {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font: normal 16px/1 Genericons;
  text-decoration: inherit;
  vertical-align: text-bottom;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.site-header {
  width: 100%;
}

.search-input {
  background: #fff;
  border: 1px solid #ddd;
  outline: none;
  height: 38px;
  line-height: 38px;
  color: #4b4f56;
  text-indent: 5px;
}

.search-input:focus {
  background-color: #fff;
  border-color: #bfbfbf;
}

.search-submit {
  border-left: none;
  color: #aaa;
  font-size: 15px;
  font-weight: 600;
  height: 38px;
  line-height: 1;
  outline: none;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
}

/* Header Search */
.search-icon {
  display: block;
  position: absolute;
  top: 11px;
  right: 0;
}

.search-icon:hover {
  cursor: pointer;
}

.search-icon span {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  vertical-align: middle;
}

.search-icon .genericon-search.active {
  display: none;
}

.search-icon .genericon-close {
  display: none;
}

.search-icon .genericon-close.active {
  display: inline-block;
}

.header-search {
  display: none;
  background-color: #2d2d2d;
  line-height: 1;
  width: 300px;
  height: 48px;
  position: absolute;
  top: 49px;
  right: 0;
  z-index: 2;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}

.header-search:after {
  color: #999;
  font-family: 'Genericons';
  font-size: 22px;
  content: '\f400';
  position: absolute;
  top: 13px;
  left: 11px;
}

.header-search .search-input {
  background: #fff;
  border: none;
  color: #333;
  font-size: 14px;
  width: 286px;
  height: 33px;
  line-height: 33px;
  position: absolute;
  top: 7px;
  left: 7px;
  padding-left: 26px;
}

.header-search .search-input:focus {
  background-color: #eee;
}

.header-search .search-submit {
  border: none;
  box-shadow: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  color: #fff;
  font-size: 14px;
  height: 33px;
  line-height: 33px;
  position: absolute;
  top: 7px;
  right: 7px;
  padding: 0 10px;
  -webkit-backface-visibility: hidden;
}

.header-search .search-submit:hover {
  opacity: 0.85;
}

.site-start {
  background-color: #171717;
  display: block;
  width: 100%;
  height: 120px;
}

.header-ad {
  float: right;
  line-height: 0.5;
  width: 728px;
  height: 90px;
  margin-top: 15px;
  overflow: hidden;
  text-align: center;
}

.header-ad .widget-title {
  display: none;
}

/*--------------------------------------------------------------
 Logo
--------------------------------------------------------------*/
.site-branding {
  float: left;
  text-align: left;
}

.site-branding .logo {
  height: 120px;
  margin: 0;
}

.site-branding .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.site-branding img {
  max-height: 80px;
  vertical-align: middle;
}

.site-title h1 {
  font-size: 32px;
  font-weight: bold;
  margin: 36px 0 8px 0;
}

.site-title h1 a {
  display: block;
}

.site-desc {
  color: #999;
  font-size: 14px;
}

/*--------------------------------------------------------------
 Navigation Menu
--------------------------------------------------------------*/
/* Essential Styles */
.sf-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sf-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sf-menu li {
  position: relative;
}

.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
  display: block;
}

.sf-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.sf-menu ul ul {
  top: 0;
  left: 240px;
}

.sf-menu > li {
  float: left;
}

.sf-menu a {
  display: block;
  position: relative;
}

/* Theme Navigation Skin */
.sf-menu {
  float: left;
}

.sf-menu ul {
  background-color: #333;
  width: 240px;
  padding: 0;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}

.sf-menu a {
  text-decoration: none;
  zoom: 1;
  /* IE7 */
}

.sf-menu li {
  line-height: 48px;
  white-space: nowrap;
  /* no need for Supersubs plugin */
  *white-space: normal;
  /* ...unless you support IE7 (let it wrap) */
}

.sf-menu li a {
  padding: 0 20px;
  color: #fff;
  font-size: 15px;
}

.sf-menu li li {
  line-height: 1.5;
}

.sf-menu li li:last-child {
  border-bottom: none;
}

.sf-menu li li a {
  color: #fff;
  font-size: 15px;
  padding: 14px 0;
}

.sf-menu li:hover li a,
.sf-menu li.sfHover li a {
  color: #fff;
  display: block;
}

/*** arrows (for all except IE7) **/
/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
  position: absolute;
  top: 50%;
  margin-top: -7px;
  height: 0;
  width: 0;
  content: '\f431';
  font: normal 14px/1 'Genericons';
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
  top: 26px;
  right: 5px;
  margin-right: 0;
  content: '\f501';
  font: normal 9px/1 'Genericons';
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#primary-bar {
  background-color: #121212;
  border-bottom: 1px solid #222;
  width: 100%;
  height: 41px;
}

#primary-bar .container {
  position: relative;
}

.header-social {
  position: absolute;
  top: 5px;
  right: 0;
}

.header-social a {
  display: inline-block;
  text-align: center;
}

.header-social a img {
  opacity: 0.6;
  width: 13px;
  height: auto;
  margin-left: 8px;
  line-height: 30px;
  vertical-align: middle;
  -webkit-backface-visibility: hidden;
}

.header-social a:hover img {
  opacity: 1;
}

/* Secondary Nav */
#secondary-bar {
  background-color: #121212;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
  height: 50px;
  position: relative;
}

#secondary-bar .container {
  position: relative;
}

#secondary-bar .site-branding {
  display: none;
}

.is-sticky {
  z-index: 99;
  position: relative;
}

.is-sticky #secondary-bar {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.is-sticky #secondary-bar .container {
  width: 100%;
}

.is-sticky #secondary-bar .site-branding {
  display: block;
  float: left;
  text-align: left;
  margin: 0 10px 0 10px;
}

.is-sticky #secondary-bar .site-branding .logo {
  height: 49px;
  margin: 0;
}

.is-sticky #secondary-bar .site-branding .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.is-sticky #secondary-bar .site-branding img {
  max-height: 36px;
  vertical-align: middle;
}

.is-sticky #secondary-bar .site-title {
  font-size: 24px;
  line-height: 1;
  margin: 11px 0 0 0;
}

.is-sticky #secondary-bar .search-icon {
  right: 20px;
}

.is-sticky #secondary-bar .header-search {
  right: 20px;
}

.is-sticky .menu-item-home {
  display: none;
}

#primary-menu {
  float: left;
}

#primary-menu.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

#primary-menu.sf-arrows .sf-with-ul:after {
  margin-top: -7px;
  margin-left: 2px;
}

#primary-menu.sf-arrows li li .sf-with-ul:after {
  margin-right: 20px;
}

#primary-menu li {
  position: relative;
}

#primary-menu li:first-child:before {
  display: none;
}

#primary-menu li a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 40px;
  padding: 0 20px;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  transition: all 200ms;
}

#primary-menu li.current-menu-item a,
#primary-menu li.sfHover a,
#primary-menu li a:hover {
  background-color: #222;
  color: #fff;
}

#primary-menu li ul {
  margin: 0;
}

#primary-menu li ul:before {
  background: transparent;
  content: ' ';
  display: block;
  width: 240px;
  height: 8px;
  position: relative;
  margin: -8px 0 0 -15px;
}

#primary-menu li ul:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #333;
  position: absolute;
  top: -7px;
  left: 20px;
}

#primary-menu li li {
  border-right: none;
  line-height: 1.5;
  padding-top: 0;
}

#primary-menu li li:before {
  content: none;
}

#primary-menu li li a:link,
#primary-menu li li a:visited {
  background: none;
  border-bottom: none;
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
  padding: 10px 20px;
}

#primary-menu li li a:hover {
  background-color: #3d3d3d;
  color: #fff;
}

#primary-menu li li.current-menu-item a {
  color: #fff;
}

#primary-menu li li .sf-with-ul:after {
  top: 22px;
}

#primary-menu li li ul:before, #primary-menu li li ul:after {
  content: none;
}

#secondary-menu.sf-arrows .sf-with-ul:after {
  margin-top: -7px;
}

#secondary-menu.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

#secondary-menu.sf-arrows .sf-with-ul:after {
  right: 25px;
}

#secondary-menu.sf-arrows li li .sf-with-ul {
  padding-right: 0;
}

#secondary-menu.sf-arrows li li .sf-with-ul:after {
  margin-top: -10px;
  margin-right: 0;
}

#secondary-menu li {
  line-height: 49px;
  position: relative;
}

#secondary-menu li:first-child a {
  margin-left: 0;
}

#secondary-menu li a {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  padding: 0 20px;
}

#secondary-menu li a:before {
  display: block;
  content: '';
  border-bottom: solid 3px transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 10px;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

#secondary-menu li a:hover {
  background-color: #1d1d1d;
}

#secondary-menu li a:hover:before {
  transform: scaleX(1);
}

#secondary-menu li.sfHover a,
#secondary-menu li.current-menu-item a,
#secondary-menu li.current-menu-item a:hover {
  color: #fff;
}

#secondary-menu li.sfHover a:before,
#secondary-menu li.current-menu-item a:before,
#secondary-menu li.current-menu-item a:hover:before {
  transform: scaleX(1);
}

#secondary-menu li.sfHover a {
  background-color: #1d1d1d;
}

#secondary-menu li li {
  line-height: 1.6;
  padding-bottom: 0;
}

#secondary-menu li li a:before {
  content: none;
}

#secondary-menu li li:first-child a {
  margin-left: 0;
}

#secondary-menu li li a:link,
#secondary-menu li li a:visited {
  background: none;
  background-repeat: none;
  border-top: none;
  border-bottom: none;
  color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
  line-height: 1.5;
  font-weight: normal;
  margin: 0;
  padding: 10px 20px;
  text-transform: none;
}

#secondary-menu li li a:hover {
  background-color: #3d3d3d;
}

/*--------------------------------------------------------------
 Homepage
--------------------------------------------------------------*/
/* Site Content */
.site-content {
  padding: 30px 0 25px;
}

#primary {
  float: left;
  width: 743px;
}

/*--------------------------------------------------------------
  Recent Content
--------------------------------------------------------------*/
.thumbnail-wrap {
  position: relative;
}

.thumbnail-wrap .video-length {
  display: none;
  position: absolute;
  right: 4px;
  bottom: 4px;
  background-color: #333;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  color: #fff;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1;
  font-size: 11px;
  height: 16px;
  line-height: 16px;
  padding: 0 4px;
}

.thumbnail-wrap .genericon {
  color: rgba(0, 0, 0, 0.5);
  display: none;
  font-size: 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 48px;
  height: 48px;
  line-height: 48px;
  margin: -24px 0 0 -24px;
  text-align: center;
  vertical-align: middle;
}

.entry-title a,
.entry-title a:visited {
  color: #fff;
}

#featured-content {
  margin: 0 0 40px;
}

#featured-content .hentry {
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  -webkit-backface-visibility: hidden;
}

#featured-content .hentry .thumbnail-link {
  float: left;
  width: 515px;
  margin: 0 25px 0 0;
  line-height: 0.5;
}

#featured-content .hentry .thumbnail-link:hover .thumbnail-wrap .genericon {
  color: rgba(0, 0, 0, 0.7);
}

#featured-content .hentry .entry-header {
  margin-bottom: 10px;
}

#featured-content .hentry .entry-title {
  font-size: 28px;
  line-height: 1.15;
  margin-bottom: 10px;
}

#featured-content .hentry .entry-summary {
  display: table;
}

#featured-content .hentry .entry-more {
  margin-top: 20px;
}

#featured-content .hentry .entry-more a {
  background-color: #333;
  color: #fff;
  border-radius: 3px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
}

#featured-content .hentry .entry-more a:hover {
  background-color: #444;
  color: #fff;
  text-decoration: none;
}

.section-heading {
  background-color: #222;
  border-radius: 3px;
  height: 48px;
  line-height: 48px;
  padding: 0 20px;
  position: relative;
  margin-bottom: 18px;
}

.section-title {
  font-size: 22px;
}

.section-title a,
.section-title a:visited {
  line-height: 40px;
  position: relative;
}

.section-title a:after,
.section-title a:visited:after {
  content: "\f432";
  display: inline-block;
  font-family: "genericons";
  font-size: 22px;
  position: relative;
  top: 5px;
  left: 2px;
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

.section-title a:hover {
  color: #fff;
  text-decoration: none;
}

#recent-content {
  position: relative;
}

#recent-content .widget_ad {
  margin: 0 0 30px;
  text-align: center;
}

#recent-content .widget_ad .widget-title {
  color: #aaa;
  font-weight: normal;
  font-size: 12px;
  margin-bottom: 3px;
}

#recent-content .widget_ad .adwidget {
  line-height: 0.5;
}

.breadcrumbs {
  position: relative;
}

.breadcrumbs h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

#featured-content .entry-category,
.content-loop .entry-category,
.entry-related .entry-category {
  display: block;
  font-size: 12px;
  line-height: 1;
  margin-bottom: 10px;
}

#featured-content .entry-category a,
.content-loop .entry-category a,
.entry-related .entry-category a {
  color: rgba(255, 255, 255, 0.6);
}

#featured-content .entry-category a:hover,
.content-loop .entry-category a:hover,
.entry-related .entry-category a:hover {
  color: #fff;
}

#featured-content .entry-meta,
.content-loop .entry-meta,
.entry-related .entry-meta {
  color: #aaa;
  font-size: 12px;
}

#featured-content .entry-meta a,
#featured-content .entry-meta a:visited,
.content-loop .entry-meta a,
.content-loop .entry-meta a:visited,
.entry-related .entry-meta a,
.entry-related .entry-meta a:visited {
  color: #aaa;
}

#featured-content .entry-meta a:hover,
.content-loop .entry-meta a:hover,
.entry-related .entry-meta a:hover {
  color: #555;
  text-decoration: none;
}

#featured-content .entry-meta .entry-views,
.content-loop .entry-meta .entry-views,
.entry-related .entry-meta .entry-views {
  margin-left: 8px;
  padding-left: 12px;
  position: relative;
}

#featured-content .entry-meta .entry-views strong,
.content-loop .entry-meta .entry-views strong,
.entry-related .entry-meta .entry-views strong {
  font-weight: normal;
}

#featured-content .entry-meta .entry-views:before,
.content-loop .entry-meta .entry-views:before,
.entry-related .entry-meta .entry-views:before {
  background-color: #aaa;
  border-radius: 50%;
  color: #aaa;
  content: " ";
  display: inline-block;
  width: 3px;
  height: 3px;
  position: absolute;
  left: 0;
  top: 7px;
}

.content-loop {
  margin-bottom: -25px;
}

.content-loop .hentry {
  float: left;
  margin: 0 25px 40px 0;
  width: 231px;
  position: relative;
}

.content-loop .hentry:nth-of-type(3n) {
  margin-right: 0;
}

.content-loop .hentry:nth-of-type(3n+1) {
  clear: left;
}

.content-loop .hentry:hover .entry-header {
  background-color: #2d2d2d;
}

.content-loop .thumbnail-link {
  display: block;
  width: 100%;
  position: relative;
  line-height: 0.5;
  text-align: center;
}

.content-loop .thumbnail-link img {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  width: 100%;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.content-loop .entry-header {
  background-color: #222;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 15px;
}

.content-loop .entry-title {
  font-size: 15px;
  line-height: 1.3;
  margin-bottom: 5px;
}

.content-loop .entry-summary {
  color: #fff;
  font-size: 15px;
  line-height: 1.4;
  margin-bottom: 5px;
}

.content-loop .entry-summary p {
  display: inline;
}

.content-loop .entry-summary span {
  font-size: 14px;
}

.content-loop .entry-summary span a,
.content-loop .entry-summary span a:visited {
  color: #87D07E;
}

.content-loop .entry-more a {
  font-size: 14px;
  border-bottom: 1px solid;
}

.content-loop .entry-more a:hover {
  color: #000;
  border-bottom-color: #000;
  text-decoration: none;
}

.entry-share {
  position: relative;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.entry-share a,
.entry-share a:visited {
  border-radius: 2px;
  color: #fff;
  font-size: 13px;
  display: inline-block;
  height: 38px;
  margin: 0 8px 0 0;
  padding: 0 13px;
  -webkit-backface-visibility: hidden;
}

.entry-share a img,
.entry-share a:visited img {
  display: block;
  float: left;
  width: 14px;
  height: auto;
  margin: 12px 0 0 0;
}

.entry-share a span,
.entry-share a:visited span {
  display: inline-block;
  height: 14px;
  line-height: 14px;
  margin-top: 12px;
}

.entry-share a.twitter span, .entry-share a.facebook span,
.entry-share a:visited.twitter span,
.entry-share a:visited.facebook span {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  margin-left: 10px;
  padding-left: 10px;
}

.entry-share a.google-plus span, .entry-share a.pinterest span,
.entry-share a:visited.google-plus span,
.entry-share a:visited.pinterest span {
  text-indent: -9999em !important;
}

.entry-share a:hover {
  color: #fff;
  opacity: 0.85;
}

.social-twitter {
  background-color: #29c5f6;
}

.social-facebook {
  background-color: #516eab;
}

.social-pinterest {
  background-color: #ca212a;
}

.social-google-plus {
  background-color: #eb4026;
}

/*--------------------------------------------------------------
 Pagination
--------------------------------------------------------------*/
.pagination {
  background-color: #222;
  border-radius: 3px;
  height: 48px;
  line-height: 42px;
  margin: 10px 0 20px 0;
  width: 100%;
  text-align: center;
}

.pagination .page-numbers {
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  margin: 0 5px;
  padding: 0 5px;
  color: rgba(255, 255, 255, 0.7);
}

.pagination .page-numbers:hover {
  color: #fff;
  text-decoration: none;
}

.pagination .page-numbers.current {
  color: #fff;
}

.pagination .page-numbers.current:hover {
  color: #fff;
}

/*--------------------------------------------------------------
 Single Post/Page
--------------------------------------------------------------*/
.page-title {
  font-size: 32px;
  margin-bottom: 15px;
  line-height: 1.2;
}

.single #primary {
  visibility: hidden;
}

.single article.has-embed {
  padding-top: 442px;
  position: relative;
}

.single article.has-embed .fluid-width-video-wrapper.first-video,
.single article.has-embed .wp-video.first-video {
  position: absolute;
  top: 0;
  left: 0;
}

.single .entry-content iframe,
.single .entry-content object,
.single .entry-content embed,
.single .entry-content .wp-video-shortcode {
  max-height: 418px;
  overflow: hidden;
}

.single .breadcrumbs {
  color: #aaa;
  font-size: 13px;
  margin-bottom: 15px;
}

.single .breadcrumbs span {
  font-size: 14px;
  padding: 0 3px;
}

.single .breadcrumbs a,
.single .breadcrumbs a:visited {
  color: #aaa;
}

.single .breadcrumbs a:hover {
  color: #fff;
  text-decoration: none;
}

.single .entry-header {
  border-bottom: 1px solid #333;
  margin-bottom: 25px;
  padding-bottom: 18px;
  position: relative;
}

.single .entry-header .entry-meta {
  font-size: 12px;
  position: relative;
  color: #aaa;
}

.single .entry-header .entry-meta .entry-author .avatar {
  border-radius: 50%;
  width: 30px;
  height: auto;
  margin: 0 5px -9px 0;
}

.single .entry-header .entry-meta a:hover {
  color: #fff;
}

.single .entry-header .meta-right {
  position: absolute;
  right: 0;
  top: -4px;
}

.single .entry-header .entry-like {
  float: right;
  min-width: 32px;
  margin-right: 10px;
}

.single .entry-header .entry-like a {
  color: #aaa;
}

.single .entry-header .entry-like a:before {
  content: "\f461";
  display: inline-block;
  font-family: "genericons";
  font-size: 17px;
  position: relative;
  padding-right: 3px;
  top: 5px;
}

.single .entry-header .entry-like a:hover {
  color: #fff;
  text-decoration: none;
}

.single .entry-header .entry-comment {
  float: right;
}

.single .entry-header .entry-comment a {
  color: #aaa;
}

.single .entry-header .entry-comment a:before {
  content: "\f300";
  display: inline-block;
  font-family: "genericons";
  font-size: 17px;
  position: relative;
  padding-right: 3px;
  top: 5px;
}

.single .entry-header .entry-comment a:hover {
  text-decoration: none;
  color: #fff;
}

.single .entry-header .entry-share {
  margin-bottom: 20px;
}

.single .entry-footer {
  margin-top: 20px;
}

.error404 .site-main,
.single .site-main,
.page .site-main {
  position: relative;
}

.error404 .site-main .entry-thumbnail,
.single .site-main .entry-thumbnail,
.page .site-main .entry-thumbnail {
  margin-bottom: 10px;
}

.error404 h1.entry-title,
.single h1.entry-title,
.page h1.entry-title {
  font-size: 30px;
  line-height: 1.2;
  display: block;
  margin-bottom: 15px;
}

.error404 .entry-content label,
.error404 .page-content label {
  display: inline-block;
}

.single #primary article .entry-views,
.widget_posts_thumbnail .entry-views {
  font-size: 12px;
  margin-left: 8px;
  padding-left: 12px;
  position: relative;
}

.single #primary article .entry-views strong,
.widget_posts_thumbnail .entry-views strong {
  font-weight: normal;
}

.single #primary article .entry-views:before,
.widget_posts_thumbnail .entry-views:before {
  background-color: #aaa;
  border-radius: 50%;
  color: #aaa;
  content: " ";
  display: inline-block;
  width: 3px;
  height: 3px;
  position: absolute;
  left: 0;
  top: 7px;
}

/* Related  Posts */
.entry-related {
  border-top: 1px solid #333;
  margin: 25px 0 -15px 0;
  padding: 25px 0 0 0;
}

.entry-related h3 {
  font-size: 22px;
  margin-bottom: 15px;
}

.entry-related .hentry {
  float: left;
  width: 231px;
  margin: 0 25px 25px 0;
}

.entry-related .hentry.last {
  margin-right: 0;
}

.entry-related .hentry:nth-of-type(3n+1) {
  clear: left;
}

.entry-related .hentry .entry-title {
  font-size: 15px;
  line-height: 1.2;
  margin-bottom: 5px;
}

.entry-related .hentry .thumbnail-link {
  display: block;
  width: 100%;
  margin: 0 0 10px 0;
}

.entry-related .hentry .thumbnail-wrap {
  height: auto;
  line-height: 0.8;
}

/* Entry Tags */
.entry-tags {
  margin-bottom: 20px;
}

.entry-tags span {
  font-size: 13px;
  margin-right: 10px;
}

.entry-tags .tag-links a {
  background-color: #444;
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  color: #fff;
  display: inline-block;
  font-size: 13px;
  margin: 0 2px 0 0;
  padding: 2px 8px 2px 18px;
  position: relative;
  text-transform: lowercase;
}

.entry-tags .tag-links a:hover {
  background-color: #555;
  color: #fff;
  text-decoration: none;
}

.entry-tags .tag-links a:before {
  font-family: "genericons";
  font-size: 18px;
  color: #aaa;
  content: "\f428";
  position: absolute;
  left: 1px;
  top: 3px;
}

/* Author Box */
.author-box {
  background-color: #333;
  border-radius: 3px;
  margin-top: 25px;
  padding: 20px;
}

.author-box .avatar {
  border-radius: 50%;
  float: left;
  width: 72px;
  height: auto;
  line-height: 0.8;
  margin: 0 15px 0 0;
}

.author-box .author-meta {
  display: table;
}

.author-box .author-meta .author-name {
  font-size: 18px;
  margin-bottom: 5px;
}

/* Entry Content */
.page-content .wp-post-image,
.entry-content .wp-post-image {
  margin-bottom: 10px;
}

.page-content a,
.entry-content a {
  border-bottom: 1px solid;
}

.page-content a:hover,
.entry-content a:hover {
  border-bottom-color: #fff;
  color: #fff;
  text-decoration: none;
}

.page-content h1,
.page-content h2,
.page-content h3,
.page-content h4,
.page-content h5,
.page-content h6,
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
  color: #fff;
  margin-bottom: 25px;
  line-height: 1.35;
}

.page-content h1,
.entry-content h1 {
  font-size: 30px;
}

.page-content h2,
.entry-content h2 {
  font-size: 26px;
}

.page-content h3,
.entry-content h3 {
  font-size: 22px;
}

.page-content h4,
.entry-content h4 {
  font-size: 18px;
}

.page-content h5, .page-content h6,
.entry-content h5,
.entry-content h6 {
  font-size: 16px;
}

.page-content p,
.entry-content p {
  line-height: 1.7;
  margin-bottom: 25px;
}

.page-content ul,
.page-content ol,
.entry-content ul,
.entry-content ol {
  margin: 0 0 25px 0;
}

.page-content ul ul,
.page-content ul ol,
.page-content ol ul,
.page-content ol ol,
.entry-content ul ul,
.entry-content ul ol,
.entry-content ol ul,
.entry-content ol ol {
  margin: 8px 0 0 25px;
}

.page-content ul li,
.entry-content ul li {
  list-style: none;
  margin: 0 0 12px 0;
  padding-left: 21px;
  position: relative;
}

.page-content ul li:before,
.entry-content ul li:before {
  font-family: "genericons";
  color: #aaa;
  content: '\f428';
  font-size: 20px;
  margin-left: -4px;
  text-align: left;
  position: absolute;
  top: 2px;
  left: 0;
}

.page-content ul li a:hover,
.entry-content ul li a:hover {
  color: #fff;
}

.page-content ul li ul li,
.entry-content ul li ul li {
  list-style: none;
}

.page-content ol li,
.entry-content ol li {
  list-style: inside decimal;
  margin: 0 0 10px 0;
}

.page-content select,
.entry-content select {
  padding: 0 5px;
}

.page-content select:focus, .page-content select:active,
.entry-content select:focus,
.entry-content select:active {
  outline: none;
}

.page-content dl,
.entry-content dl {
  margin-bottom: 20px;
}

.page-content fieldset,
.entry-content fieldset {
  border: 1px solid #333;
  margin: 0 2px 20px 2px;
  padding: 0.35em 0.625em 0.75em;
}

.page-content input[type="radio"],
.entry-content input[type="radio"] {
  -webkit-appearance: radio;
}

.page-content input[type="checkbox"],
.entry-content input[type="checkbox"] {
  -webkit-appearance: checkbox;
}

.page-content ::-webkit-file-upload-button,
.entry-content ::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

.page-content label,
.entry-content label {
  display: block;
  font-weight: bold;
}

.page-content table,
.entry-content table {
  margin-bottom: 20px;
}

.page-content select,
.entry-content select {
  border: 1px solid #e9e9e9;
  font-size: 1em;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  height: 2em;
  max-width: 100%;
  -webkit-appearance: menulist;
}

.page-content input[type="text"],
.page-content input[type="email"],
.page-content input[type="url"],
.page-content input[type="search"],
.page-content input[type="password"],
.entry-content input[type="text"],
.entry-content input[type="email"],
.entry-content input[type="url"],
.entry-content input[type="search"],
.entry-content input[type="password"] {
  width: 300px;
}

.page-content input[type="file"],
.entry-content input[type="file"] {
  border: none;
}

.page-content textarea,
.entry-content textarea {
  width: 100%;
  height: 200px;
}

.page-content .wp-caption,
.entry-content .wp-caption {
  background-color: #333;
  padding: 0 0 1px 0;
}

.page-content .wp-caption-text,
.entry-content .wp-caption-text {
  font-size: 13px;
  font-style: italic;
  color: #aaa;
}

blockquote {
  font-size: 18px;
  font-style: italic;
  padding: 0.25em 50px;
  line-height: 1.45;
  position: relative;
}

blockquote:before {
  display: block;
  content: "\201C";
  font-size: 64px;
  position: absolute;
  left: 0;
  top: -15px;
  color: #cccccc;
}

blockquote cite {
  color: #fff;
  display: block;
  margin-top: 10px;
}

blockquote cite:before {
  content: "\2014 \2009";
}

#primary p,
.widget p {
  line-height: 1.7em;
}

/*--------------------------------------------------------------
 Archive/Search Page
--------------------------------------------------------------*/
.search-no-results .page-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.search-no-results .page-content label,
.search-no-results .entry-content label {
  display: inline;
}

.widget_tag_cloud a {
  border: none;
}

/*--------------------------------------------------------------
 Comments
--------------------------------------------------------------*/
.comments-area {
  border-top: 1px solid #333;
  padding: 25px 0 0 0;
}

.comments-title {
  font-size: 22px;
  margin-bottom: 25px;
}

.comment-reply-title {
  font-size: 22px;
  margin-bottom: 20px;
}

.comment-list {
  border-bottom: 1px solid #333;
  list-style: none;
  margin: 0 0 20px 0;
}

.comment-author {
  font-size: 14px;
}

.comment-meta {
  margin-bottom: 4px;
}

.comment-list .reply,
.comment-metadata {
  font-size: 13px;
}

.comment-list .reply {
  margin-top: 10px;
}

.comment-author .fn {
  font-weight: bold;
}

.comment-author a {
  color: #2b2b2b;
}

.comment-list .trackback a,
.comment-list .trackback a:visited,
.comment-list .pingback a,
.comment-list .pingback a:visited,
.comment-metadata a,
.comment-metadata a:visited,
.comment-list .reply a,
.comment-list .reply a:visited {
  color: #767676;
}

.comment-list .trackback a:hover,
.comment-list .pingback a:hover,
.comment-metadata a:hover,
.comment-list .reply a:hover {
  color: #fff;
}

.comment-author a:hover {
  color: #4b4f56;
}

.comment-list article,
.comment-list .pingback,
.comment-list .trackback {
  margin: 0 0 20px 0;
}

.comment-list > li:first-child > article,
.comment-list > .pingback:first-child,
.comment-list > .trackback:first-child {
  border-top: 0;
}

.comment-author {
  position: relative;
}

.comment-author .avatar {
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: auto;
}

.bypostauthor > article .fn:before {
  color: #fbb034;
  content: "\f408";
  margin: 0 2px 0 -2px;
  position: relative;
  top: -1px;
}

.says {
  display: none;
}

.comment-author,
.comment-awaiting-moderation,
.comment-content,
.comment-list .reply {
  padding-left: 64px;
}

.comment-author {
  display: inline;
}

.comment-metadata {
  display: inline;
  margin-left: 7px;
}

.comment-edit-link {
  margin-left: 10px;
}

.comment-edit-link:hover {
  text-decoration: none;
}

#cancel-comment-reply-link:hover {
  text-decoration: none;
}

.comment-edit-link:before {
  content: "\f411";
}

.comment-reply-link:hover {
  text-decoration: none;
}

.comment-reply-link:before,
.comment-reply-login:before {
  content: '\f467';
  color: #aaa;
  margin-right: 2px;
}

.comment-content {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}

.comment-content ul,
.comment-content ol {
  margin: 0 0 24px 22px;
}

.comment-content li > ul,
.comment-content li > ol {
  margin-bottom: 0;
}

.comment-content > :last-child {
  margin-bottom: 0;
}

.comment-list .children {
  list-style: none;
  margin-left: 64px;
}

.comment .comment-respond {
  margin: 25px 0;
}

.comment-respond h3 {
  margin-top: 0;
}

.comment-notes,
.comment-awaiting-moderation,
.logged-in-as,
.no-comments,
.form-allowed-tags,
.form-allowed-tags code {
  color: #767676;
}

.comment-notes a,
.comment-notes a:visited,
.comment-awaiting-moderation a,
.comment-awaiting-moderation a:visited,
.logged-in-as a,
.logged-in-as a:visited,
.no-comments a,
.no-comments a:visited,
.form-allowed-tags a,
.form-allowed-tags a:visited,
.form-allowed-tags code a,
.form-allowed-tags code a:visited {
  color: #767676;
}

.comment-notes a:hover,
.comment-notes a:visited:hover,
.comment-awaiting-moderation a:hover,
.comment-awaiting-moderation a:visited:hover,
.logged-in-as a:hover,
.logged-in-as a:visited:hover,
.no-comments a:hover,
.no-comments a:visited:hover,
.form-allowed-tags a:hover,
.form-allowed-tags a:visited:hover,
.form-allowed-tags code a:hover,
.form-allowed-tags code a:visited:hover {
  color: #fff;
}

.comment-notes,
.comment-awaiting-moderation,
.logged-in-as {
  font-size: 14px;
  font-style: italic;
  margin-bottom: 10px;
}

.no-comments {
  font-size: 16px;
  font-weight: 900;
  line-height: 1.5;
  margin-top: 24px;
  text-transform: uppercase;
}

.comment-form .comment-form-comment,
.comment-form .comment-form-author,
.comment-form .comment-form-email,
.comment-form .comment-form-url {
  margin-bottom: 20px;
}

.comment-form textarea {
  width: 100%;
}

.comment-form .comment-form-author {
  float: left;
  width: 238px;
  margin-right: 15px;
}

.comment-form .comment-form-email {
  float: left;
  width: 238px;
  margin-right: 15px;
}

.comment-form .comment-form-url {
  float: left;
  width: 237px;
}

.comment-form:after {
  content: '';
  display: block;
  clear: both;
}

.comment-form .submit {
  padding: 0 18px;
}

.comment-form label {
  display: block;
  font-size: 15px;
  font-weight: bold;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"] {
  width: 100%;
}

.form-allowed-tags,
.form-allowed-tags code {
  font-size: 12px;
  line-height: 1.5;
}

.required {
  color: #c0392b;
}

.comment-reply-title small a {
  color: #2b2b2b;
  float: right;
  height: 24px;
  overflow: hidden;
  width: 24px;
}

.comment-reply-title small a:before {
  content: "\f405";
  font-size: 20px;
}

.comment-navigation {
  font-size: 12px;
  line-height: 2;
  margin-bottom: 48px;
  text-transform: uppercase;
}

.comment-navigation .nav-next,
.comment-navigation .nav-previous {
  display: inline-block;
}

.comment-navigation .nav-previous a {
  margin-right: 10px;
}

#comment-nav-above {
  margin-top: 36px;
  margin-bottom: 0;
}

/*--------------------------------------------------------------
 Sidebar
--------------------------------------------------------------*/
.sidebar {
  float: right;
  width: 300px;
  margin-bottom: -20px;
}

.sidebar .widget {
  margin-bottom: 25px;
  position: relative;
}

.sidebar .widget .widget-title {
  border-bottom: 2px solid #555;
  color: #fff;
  font-size: 20px;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.sidebar .widget p {
  margin-bottom: 15px;
}

.sidebar .widget ul .children,
.sidebar .widget ul .sub-menu {
  padding-left: 1.5em;
}

.sidebar .widget ul .children li:first-child,
.sidebar .widget ul .sub-menu li:first-child {
  padding: 15px 0;
  border-top: 1px solid #e9e9e9;
}

.sidebar .widget ul > li {
  list-style: none;
  margin-bottom: 15px;
  position: relative;
  padding-left: 14px;
}

.sidebar .widget ul > li a {
  color: #fff;
}

.sidebar .widget ul > li:before {
  border-radius: 50%;
  content: " ";
  display: inline-block;
  width: 4px;
  height: 4px;
  position: absolute;
  left: 0;
  top: 11px;
}

.sidebar .widget ul li:last-child {
  margin-bottom: 0;
}

.sidebar .widget select {
  width: 100%;
  max-width: 100%;
}

.sidebar .widget_search input[type='search'] {
  width: 214px;
}

.sidebar .widget_search input[type='submit'] {
  width: 80px;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}

.sidebar .widget_social_icons ul li,
.sidebar .widget_posts_thumbnail ul li {
  list-style: none;
}

.sidebar .widget_social_icons ul li:before,
.sidebar .widget_posts_thumbnail ul li:before {
  content: none;
  display: none;
}

/* Tag Cloud Widget */
.widget_tag_cloud .tagcloud a {
  background-color: #444;
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  color: #fff !important;
  display: inline-block;
  font-size: 13px !important;
  margin: 0 2px 7px 0;
  padding: 2px 8px 2px 18px;
  position: relative;
  text-transform: lowercase;
}

.widget_tag_cloud .tagcloud a:hover {
  background-color: #555;
  color: #fff !important;
  text-decoration: none;
}

.widget_tag_cloud .tagcloud a:before {
  font-family: "genericons";
  font-size: 18px;
  color: #aaa;
  content: "\f428";
  position: absolute;
  left: 1px;
  top: 3px;
}

/* Recent Posts Widget */
.widget_recent_entries .post-date {
  font-size: 13px;
  color: #aaa;
  margin-left: 5px;
}

/* Categories Widget */
.widget_categories ul li {
  color: #aaa;
}

/*--------------------------------------------------------------
 Footer
--------------------------------------------------------------*/
.footer-columns {
  border-bottom: 1px solid #292929;
  padding: 25px 0 5px 0;
}

.footer-columns .widget {
  margin-bottom: 20px;
}

.footer-columns .footer-column-1,
.footer-columns .footer-column-2,
.footer-columns .footer-column-3 {
  float: left;
  width: 333px;
  margin: 0 40px 0 0;
  box-sizing: content-box;
  position: relative;
}

.footer-columns .footer-column-3 {
  margin-right: 0;
}

.site-footer {
  background-color: #222;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06);
}

.site-footer .widget {
  color: #999;
  font-size: 14px;
  margin-bottom: 20px;
}

.site-footer .widget .widget-title {
  border-bottom: 2px solid #555;
  color: #fff;
  font-size: 20px;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.site-footer .widget p {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 15px;
}

.site-footer .widget ul .children,
.site-footer .widget ul .sub-menu {
  padding-left: 1.5em;
}

.site-footer .widget ul .children li:first-child,
.site-footer .widget ul .sub-menu li:first-child {
  border-top: none;
  padding-top: 0;
}

.site-footer .widget ul .children li:last-child,
.site-footer .widget ul .sub-menu li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.site-footer .widget ul > li {
  list-style: none;
  padding: 0;
  margin-bottom: 15px;
}

.site-footer .widget ul > li a {
  color: #fff;
}

.site-footer .widget ul li:first-child {
  border-top: none;
  padding-top: 0;
}

.site-footer .widget ul li:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.site-footer .widget select {
  width: 100%;
  max-width: 100%;
}

.site-footer,
.sidebar {
  /* Ad Widget */
  /* Newsletter Widget */
  /* Social Icons Widget */
  /* Posts with Thumbnail Widget */
}

.site-footer ul li,
.sidebar ul li {
  line-height: 1.4;
}

.site-footer .widget_ad,
.sidebar .widget_ad {
  border: none;
  background: none;
  padding: 0;
}

.site-footer .widget_ad:before,
.sidebar .widget_ad:before {
  display: none;
}

.site-footer .widget_ad .widget-title,
.sidebar .widget_ad .widget-title {
  color: #aaa;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 5px;
  text-align: center;
}

.site-footer .widget_ad .adwidget,
.sidebar .widget_ad .adwidget {
  text-align: center;
}

.site-footer .widget_ad img,
.sidebar .widget_ad img {
  line-height: 0.8;
}

.site-footer .widget_newsletter form input[type="text"],
.site-footer .widget_newsletter form input[type="email"],
.sidebar .widget_newsletter form input[type="text"],
.sidebar .widget_newsletter form input[type="email"] {
  width: 100%;
  margin-top: 13px;
}

.site-footer .widget_newsletter form input[type="submit"],
.site-footer .widget_newsletter form input[type="button"],
.site-footer .widget_newsletter form button,
.sidebar .widget_newsletter form input[type="submit"],
.sidebar .widget_newsletter form input[type="button"],
.sidebar .widget_newsletter form button {
  width: 100%;
  margin-top: 13px;
}

.site-footer .widget_newsletter form h1, .site-footer .widget_newsletter form h2, .site-footer .widget_newsletter form h3, .site-footer .widget_newsletter form h4, .site-footer .widget_newsletter form h5, .site-footer .widget_newsletter form h6, .site-footer .widget_newsletter form label,
.sidebar .widget_newsletter form h1,
.sidebar .widget_newsletter form h2,
.sidebar .widget_newsletter form h3,
.sidebar .widget_newsletter form h4,
.sidebar .widget_newsletter form h5,
.sidebar .widget_newsletter form h6,
.sidebar .widget_newsletter form label {
  display: none;
}

.site-footer .widget_newsletter div,
.site-footer .widget_newsletter p,
.site-footer .widget_newsletter br,
.sidebar .widget_newsletter div,
.sidebar .widget_newsletter p,
.sidebar .widget_newsletter br {
  display: inline;
}

.site-footer .widget_newsletter .clear:before, .site-footer .widget_newsletter .clear:after,
.sidebar .widget_newsletter .clear:before,
.sidebar .widget_newsletter .clear:after {
  display: none !important;
}

.site-footer .widget_social_icons,
.sidebar .widget_social_icons {
  background-color: #222;
  border-radius: 3px;
  padding: 20px 0;
}

.site-footer .widget_social_icons:before,
.sidebar .widget_social_icons:before {
  display: none;
}

.site-footer .widget_social_icons .widget-title,
.sidebar .widget_social_icons .widget-title {
  border-bottom: none;
  text-align: center;
  margin-bottom: 5px;
  padding-bottom: 0;
}

.site-footer .widget_social_icons .widget-title span,
.sidebar .widget_social_icons .widget-title span {
  background: none;
  padding: 0 10px;
}

.site-footer .widget_social_icons .widget-title:after,
.sidebar .widget_social_icons .widget-title:after {
  content: none;
}

.site-footer .widget_social_icons .desc,
.sidebar .widget_social_icons .desc {
  color: #aaa;
  font-size: 14px;
  margin-bottom: 15px;
  text-align: center;
}

.site-footer .widget_social_icons ul,
.sidebar .widget_social_icons ul {
  text-align: center;
}

.site-footer .widget_social_icons ul li,
.sidebar .widget_social_icons ul li {
  border: none;
  display: inline-block;
  margin: 0 5px;
  padding: 0;
}

.site-footer .widget_social_icons ul li a,
.sidebar .widget_social_icons ul li a {
  display: block;
  width: 32px;
  text-align: center;
  -webkit-appearance: none;
  -webkit-backface-visibility: hidden;
}

.site-footer .widget_social_icons ul li a:hover,
.sidebar .widget_social_icons ul li a:hover {
  opacity: 0.85;
}

.site-footer .widget_posts_thumbnail ul > li,
.sidebar .widget_posts_thumbnail ul > li {
  line-height: 1.2;
  margin: 0 0 20px 0;
  padding: 0;
}

.site-footer .widget_posts_thumbnail li:after,
.sidebar .widget_posts_thumbnail li:after {
  content: "";
  display: block;
  clear: both;
}

.site-footer .widget_posts_thumbnail .entry-thumbnail,
.sidebar .widget_posts_thumbnail .entry-thumbnail {
  float: left;
}

.site-footer .widget_posts_thumbnail .entry-wrap,
.sidebar .widget_posts_thumbnail .entry-wrap {
  display: table;
}

.site-footer .widget_posts_thumbnail .entry-wrap a,
.sidebar .widget_posts_thumbnail .entry-wrap a {
  font-size: 13px;
  font-weight: bold;
}

.site-footer .widget_posts_thumbnail .wp-post-image,
.site-footer .widget_posts_thumbnail img,
.sidebar .widget_posts_thumbnail .wp-post-image,
.sidebar .widget_posts_thumbnail img {
  width: 130px;
  height: auto;
}

.site-footer .widget_posts_thumbnail .thumbnail-wrap,
.sidebar .widget_posts_thumbnail .thumbnail-wrap {
  float: left;
  margin: 0 12px 0 0;
  line-height: 0.5;
}

.site-footer .widget_posts_thumbnail .entry-meta,
.sidebar .widget_posts_thumbnail .entry-meta {
  color: #aaa;
  font-size: 12px;
  margin-top: 5px;
}

.site-footer .widget_social_icons {
  padding-bottom: 0;
}

.site-footer .widget_social_icons .widget-title {
  padding-top: 0;
}

/* Back to top button */
#back-top {
  display: none;
  position: fixed;
  right: 15px;
  bottom: 15px;
}

#back-top a span {
  background-color: #444;
  border-radius: 3px;
  color: #fff;
  font-size: 20px;
  width: 30px;
  height: 30px;
  display: block;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}

#back-top a:hover {
  text-decoration: none;
}

/* Site Bottom */
#site-bottom {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.7);
  padding: 20px 0;
}

#site-bottom .site-info {
  float: left;
  position: relative;
}

#site-bottom .site-info a {
  color: rgba(255, 255, 255, 0.6);
}

#site-bottom .site-info a:hover {
  color: #fff;
}

#site-bottom .footer-nav {
  float: right;
  position: relative;
}

#site-bottom .footer-nav li {
  display: inline-block;
  list-style: none;
  line-height: 1;
  margin: 0 0 0 20px;
}

#site-bottom .footer-nav li:last-child {
  border-right: none;
  padding-right: 0;
}

#site-bottom .footer-nav li a {
  color: rgba(255, 255, 255, 0.6);
}

#site-bottom .footer-nav li a:hover {
  color: #fff;
}

#site-bottom .footer-nav li li {
  display: none;
}

/*--------------------------------------------------------------
 Misc.
--------------------------------------------------------------*/
.notice {
  background-color: #333;
  border-radius: 3px;
  padding: 30px;
  text-align: center;
}

.wp-post-image {
  width: 100%;
  height: auto;
}

/* Mobile Menu */
.mobile-menu-icon {
  display: none;
  position: absolute;
  top: 11px;
  right: 50px;
}

.mobile-menu-icon .menu-icon-close,
.mobile-menu-icon .menu-icon-open {
  background-color: #353535;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 13px;
  font-weight: bold;
  width: 64px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.mobile-menu-icon .menu-icon-close:hover,
.mobile-menu-icon .menu-icon-open:hover {
  background-image: url("assets/img/overlay.png");
  background-repeat: repeat;
}

.mobile-menu-icon .menu-icon-close {
  display: none;
}

.mobile-menu-icon .menu-icon-close .genericon {
  margin-top: -2px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  vertical-align: middle;
}

.mobile-menu-icon .menu-icon-open.active {
  display: none;
}

.mobile-menu-icon .menu-icon-close {
  display: none;
}

.mobile-menu-icon .menu-icon-close.active {
  display: inline-block;
}

.mobile-menu {
  background-color: #333;
  display: none;
  position: absolute;
  width: 100%;
  top: 51px;
  padding: 20px 0;
  z-index: 99;
}

.mobile-menu .menu-left,
.mobile-menu .menu-right {
  float: left;
  width: 50%;
}

.mobile-menu h3 {
  color: #fff;
  font-size: 14px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.mobile-menu ul li {
  display: block;
  list-style: none;
  margin-bottom: 15px;
}

.mobile-menu ul li:hover:before {
  color: #f42;
}

.mobile-menu ul li:before {
  font-family: "genericons";
  content: '\f428';
  color: #aaa;
  font-size: 15px;
  margin-left: -4px;
  padding-right: 2px;
  vertical-align: middle;
  text-align: left;
}

.mobile-menu ul li:last-child {
  margin-bottom: 0;
}

.mobile-menu ul li.menu-item-home {
  display: none;
}

.mobile-menu ul li a {
  color: #aaa;
  font-size: 14px;
}

/*
 Safari Fixes
*/
_::-webkit-full-page-media .header-search .search-submit, _:future .header-search .search-submit, :root .header-search .search-submit {
  right: 5px;
}

/* FlexSlider */
/*
 * jQuery FlexSlider v2.6.4
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 *
 */
/* ====================================================================================================================
 * FONT-FACE
 * ====================================================================================================================*/
@font-face {
  font-family: 'flexslider-icon';
  src: url("assets/fonts/flexslider-icon.eot");
  src: url("assets/fonts/flexslider-icon.eot?#iefix") format("embedded-opentype"), url("assets/fonts/flexslider-icon.woff") format("woff"), url("assets/fonts/flexslider-icon.ttf") format("truetype"), url("assets/fonts/flexslider-icon.svg#flexslider-icon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.flex-container a:hover,
.flex-slider a:hover {
  outline: none;
}

.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex-pauseplay span {
  text-transform: capitalize;
}

/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider {
  margin: 0;
  padding: 0;
}

.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}

.flexslider .slides img {
  width: 100%;
  display: block;
}

.flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

html[xmlns] .flexslider .slides {
  display: block;
}

* html .flexslider .slides {
  height: 1%;
}

.no-js .flexslider .slides > li:first-child {
  display: block;
}

/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
#slider {
  background-color: #222;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 25px;
}

#carousel {
  background-color: #3d3d3d;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 25px 34px 40px 34px;
}

#carousel img {
  border-radius: 4px;
  opacity: 0.6;
  transition: all 200ms ease;
  -webkit-backface-visibility: hidden;
}

#carousel img:hover {
  cursor: pointer;
  opacity: 1;
}

#carousel li.flex-active-slide img {
  opacity: 1;
}

#carousel .flex-direction-nav a {
  background-color: #222;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  line-height: 21px;
  margin: -16px 0 0 0;
  text-align: center;
}

#carousel .flex-direction-nav a:before {
  font-size: 9px;
  text-shadow: none;
  vertical-align: middle;
}

#carousel .flex-direction-nav .flex-next {
  right: 6px;
}

#carousel .flex-direction-nav .flex-prev {
  left: 6px;
}

.flexslider {
  position: relative;
  zoom: 1;
  -webkit-box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
}

.flexslider .slides {
  zoom: 1;
}

.flexslider .slides img {
  height: auto;
  -moz-user-select: none;
}

.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.loading .flex-viewport {
  max-height: 300px;
}

.carousel li {
  margin-right: 5px;
}

.flex-direction-nav {
  *height: 0;
}

.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 32px;
  display: inline-block;
  content: '\f001';
  color: rgba(255, 255, 255, 0.8);
  line-height: 1;
}

.flex-direction-nav a.flex-next:before {
  content: '\f002';
}

.flex-direction-nav .flex-prev {
  left: -30px;
}

.flex-direction-nav .flex-next {
  right: -30px;
  text-align: right;
}

.flexslider:hover .flex-direction-nav .flex-prev, .flexslider:hover .flex-direction-nav .flex-next {
  opacity: 0.7;
}

.flexslider:hover .flex-direction-nav .flex-prev:hover, .flexslider:hover .flex-direction-nav .flex-next:hover {
  opacity: 1;
}

.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: default;
  z-index: -1;
}

.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000;
}

.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004';
}

.flex-pauseplay a:hover {
  opacity: 1;
}

.flex-pauseplay a.flex-play:before {
  content: '\f003';
}

.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}

.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.flex-control-paging li a {
  width: 10px;
  height: 10px;
  display: block;
  background: #222;
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.flex-control-paging li a:hover {
  background: #777;
}

.flex-control-paging li a.flex-active {
  background: #777;
  cursor: default;
}

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}

.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}

.flex-control-thumbs img {
  width: 100%;
  height: auto;
  display: block;
  opacity: .7;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.flex-control-thumbs img:hover {
  opacity: 1;
}

.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}
