/*
Theme Name: VideoHost
Theme URI: https://www.happythemes.com/wordpress-themes/videohost
Author: HappyThemes
Author URI: https://www.happythemes.com
Description: VideoHost is a WordPress video theme by <a href="https://www.happythemes.com" target="_blank">HappyThemes</a>.
Version: 1.2
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: videohost
Tags: two-columns, right-sidebar
*/

/*--------------------------------------------------------------
 Reset
--------------------------------------------------------------*/
html {
    -webkit-text-size-adjust: 100%;
}
*, 
*:before, 
*:after {
	box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	word-wrap: break-word;
}
body {
	line-height: 1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,main {
	display: block;
}
nav ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
ins {
	color: #4b4f56;
	text-decoration: none;
}
mark {
	background-color: #ff9;
	color: #4b4f56;
	font-style: italic;
	font-weight: bold;
}
del {
	text-decoration: line-through;
}
abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #333;
	margin: 1em 0;
	padding: 0;
}
input, select {
	vertical-align: middle;
}
sup {
	top: -.5em;
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}



.no-list-style {
	list-style: none;
	margin: 0;
	padding: 0;
}

figure > img {
    display: block;
}

img {
	height: auto;
	max-width: 100%;
}

img[class*="align"],
img[class*="attachment-"] {
	height: auto;
}

embed,
iframe,
object,
.wp-video {
	max-width: 100% !important;
	width: 100% !important; 
}


/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.5075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/*--------------------------------------------------------------
1. Defaults
--------------------------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	color: #fff;
	font-weight: bold;
}
strong,
b {
	font-weight: bold;
}
input, 
textarea, 
select {
   -webkit-appearance: none;
   -moz-box-sizing:    border-box;
   -webkit-box-sizing: border-box;
    box-sizing:        border-box;   
}
input,
input[type="text"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="password"],
textarea {
	font-size: 14px;
	font-weight: normal;
	background-color: #333;
	border: 1px solid #000;
	border-radius: 2px;
	border-bottom: 1px solid #444;
	outline: none;
	color: #fff;	
	&:focus {
		background-color: #333;
		outline: none;		
	}

}
textarea {
	border-radius: 2px;	
	padding: 10px 15px;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="password"] {
	height: 40px;
	line-height: 40px;
	padding: 0 15px;
}
button,
.btn,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	border: none;
	padding: 0 15px;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-appearance: none;
	-webkit-backface-visibility: hidden;
}
button:hover,
.btn:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
	background-image: url('assets/img/overlay.png');
	background-repeat: repeat;
	text-decoration: none;
}
button:focus,
textarea:focus {
	outline:0;
}
table {
	border-width: 1px;
	border-color: #444;
	border-collapse: collapse;
	width: 100%;
}

table th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #444;
	background-color: #222;
}

table tr:hover td {
	background-color: #333;
}

table td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #444;
	background-color: #333;
}

.alignleft {
	float: left;
	margin: 0 20px 20px 0;
}

.alignright {
	float: right;
	margin: 0 0 20px 20px;
}

.aligncenter {
	display: block;
	margin: 0 auto;
	text-align: center;
	clear: both;
}

.alignnone {
    display: block;
}
/* Clear Floats */
.clear:before,
.clear:after {
	content: "";
	display: table;
}

.clear:after {
	clear: both; 
}

.clear {
	clear: both;
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute;
}

.sticky,
.bypostauthor {
	background: inherit;
	color: inherit;
}

body {
	background: #171717;
	color: #ccc;
	color: rgba(255,255,255,0.8);
	font-style: normal;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.55em;
}
a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
	&:visited {
	}
	&:active,
	&:focus {
		outline: 0;
	}
}
.container {
	margin: 0 auto;
	width: 1080px;
}

/* =Genericons, thanks to FontSquirrel.com for conversion!
-------------------------------------------------------------- */
@font-face {
    font-family: 'Genericons';
    src: url('genericons/font/genericons-regular-webfont.eot');
    src: url('genericons/font/genericons-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('genericons/font/genericons-regular-webfont.woff') format('woff'),
         url('genericons/font/genericons-regular-webfont.ttf') format('truetype'),
         url('genericons/font/genericons-regular-webfont.svg#genericonsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Genericons */
.bypostauthor > article .fn:before,
.comment-edit-link:before,
.comment-reply-link:before,
.comment-reply-login:before,
.comment-reply-title small a:before,
.comment-list .children li:before,
.contributor-posts-link:before,
.menu-toggle:before,
.search-toggle:before,
.slider-direction-nav a:before,
.widget_happythemes_ephemera .widget-title:before {
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font: normal 16px/1 Genericons;
	text-decoration: inherit;
	vertical-align: text-bottom;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.site-header {
	width: 100%;
}
.search-input {
	background: #fff;
	border: 1px solid #ddd;
	outline: none;
	height: 38px;
	line-height: 38px;
	color: #4b4f56;
	text-indent: 5px;
	&:focus {
		background-color: #fff;
		border-color: #bfbfbf;
	}
}
.search-submit {
	border-left: none;
	color: #aaa;
	font-size: 15px;
	font-weight: 600;
	height: 38px;
	line-height: 1;
	outline: none;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
}

/* Header Search */
.search-icon {
	display: block;
	position: absolute;
	top: 11px;
	right: 0;
	&:hover {
		cursor: pointer;
	}
	span {
		color: #fff;				
		font-size: 22px;
		font-weight: bold;
		vertical-align: middle;
	}
	.genericon-search.active {
		display: none;
	}
	.genericon-close {
		display: none;
	}
	.genericon-close.active {
		display: inline-block;
	}
}
.header-search {
	display: none;
	background-color: #2d2d2d;	
	line-height: 1;
	width: 300px;
	height: 48px;
	position: absolute;
	top: 49px;
	right: 0;
	z-index: 2;
	box-shadow: 0 3px 8px rgba(0, 0, 0, .3);			

	&:after {
		color: #999;
		font-family: 'Genericons';
		font-size: 22px;
		content: '\f400';
		position: absolute;
		top: 13px;
		left: 11px;
	}			
	.search-input {
		background: #fff;
		border: none;
		color: #333;
		font-size: 14px;
		width: 286px;
		height: 33px;
		line-height: 33px;
		position: absolute;
		top: 7px;
		left: 7px;
		padding-left: 26px;	
		&:focus {
			background-color: #eee;
		}
	}
	.search-submit {
		border: none;
		box-shadow: none;				
		border-top-right-radius: 2px;
		border-bottom-right-radius: 2px;						
		color: #fff;
		font-size: 14px;
		height: 33px;
		line-height: 33px;
		position: absolute;
		top: 7px;
		right: 7px;
		padding: 0 10px;
		-webkit-backface-visibility: hidden;		  						
		&:hover {
			opacity: 0.85;
		}
	}
}
.site-start {
	background-color: #171717;
	display: block;
	width: 100%;
	height: 120px;
}
.header-ad {
	float: right;
	line-height: 0.5;
	width: 728px;
	height: 90px;
	margin-top: 15px;
	overflow: hidden;
	text-align: center;
	.widget-title {
		display: none;
	}
}

/*--------------------------------------------------------------
 Logo
--------------------------------------------------------------*/
.site-branding {
	float: left;
	text-align: left;
	.logo {
		height: 120px;
		margin: 0;	 
	}
	.helper {
	    display: inline-block;
	    height: 100%;
	    vertical-align: middle;
	}
	img {
	    max-height: 80px;
	    vertical-align: middle;
	}	
}
.site-title h1 {
	font-size: 32px;
	font-weight: bold;
	margin: 36px 0 8px 0;
	a {
		display: block;
	}
}
.site-desc {
	color: #999;
	font-size : 14px;
}

/*--------------------------------------------------------------
 Navigation Menu
--------------------------------------------------------------*/

/* Essential Styles */
.sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu {
	margin: 0;
	padding: 0;
	list-style: none;
	li {
		position: relative;
		&:hover > ul,
		&.sfHover > ul {
			display: block;
		}		
	}	
	ul {
		position: absolute;
		display: none;
		top: 100%;
		left: 0;
		z-index: 99;
		ul {
			top: 0;
			left: 240px;
		}			
	}	
	> li {
		float: left;
	}
	a {
		display: block;
		position: relative;
	}
}

/* Theme Navigation Skin */
.sf-menu {
	float: left;

	ul {
		background-color: #333;
		width: 240px;
		padding: 0;
		box-shadow: 0 3px 8px rgba(0, 0, 0, .3);		
	}

	a {
		text-decoration: none;
		zoom: 1; /* IE7 */
	}

	li {
		line-height: 48px;
		white-space: nowrap; /* no need for Supersubs plugin */
		*white-space: normal; /* ...unless you support IE7 (let it wrap) */	

		a {
			padding: 0 20px;				
			color: #fff;
			font-size: 15px;					
			&:hover {
			}
		}	
		li {
			line-height: 1.5;
			&:last-child {
				border-bottom: none;
			}			
			a {
				color: #fff;
				font-size: 15px;
				padding: 14px 0;
			}								
		}		
	}

	li:hover,
	li.sfHover {
		li a {
			color: #fff;
			display: block;
		}
	}
}

/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul {
	//padding-right: 27px;
	//margin-right: 2px;
}
/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
	//content: '';
	position: absolute;
	top: 50%;
	margin-top: -7px;
	height: 0;
	width: 0;
	content: '\f431';
	font: normal 14px/1 'Genericons';
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
	//border-top-color: white; /* IE8 fallback colour */
}
/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
	top: 26px;
	right: 5px;	
	margin-right: 0;
	content: '\f501';
	font: normal 9px/1 'Genericons';
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
	//border-left-color: white;
}

#primary-bar {
	background-color: #121212;
	border-bottom: 1px solid #222;			
	width: 100%;
	height: 41px;	
	.container {
		position: relative;		
	}
}
.header-social {
	position: absolute;
	top: 5px;
	right: 0;
	a {
		display: inline-block;
		text-align: center;
		img {
			opacity: 0.6;
			width: 13px;
			height: auto;
			margin-left: 8px;
			line-height: 30px;
			vertical-align: middle;
			-webkit-backface-visibility: hidden;		  							
		}
		&:hover img {
			opacity: 1;
		}
	}

}
/* Secondary Nav */
#secondary-bar {
	background-color: #121212;
	border-top: 1px solid #222;	
	border-bottom: 1px solid #222;		
	height: 50px;
	position: relative;

	.container {
		position: relative;
	}
	.site-branding {
		display: none;
	}
}
.is-sticky {
	z-index: 99;
	position: relative;
	#secondary-bar {
		box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);  			
		.container {
			width: 100%;
		} 	
		.site-branding {
			display: block;
			float: left;
			text-align: left;
			margin: 0 10px 0 10px;
			.logo {
				height: 49px;
				margin: 0;	 
			}
			.helper {
			    display: inline-block;
			    height: 100%;
			    vertical-align: middle;
			}
			img {
			    max-height: 36px;
			    vertical-align: middle;
			}	
		}	
		.site-title {
			font-size: 24px;
			line-height: 1;
			margin: 11px 0 0 0;
		}
		.search-icon {
			right: 20px;
		}			
		.header-search {
			right: 20px;
		}
	}
	.menu-item-home {
		display: none;
	}
}
.main-navigation {
}
#primary-menu {
	float: left;

	&.sf-arrows .sf-with-ul {
		padding-right: 30px;
	}
	&.sf-arrows .sf-with-ul:after {
		margin-top: -7px;
		margin-left: 2px;
	}
	&.sf-arrows li li .sf-with-ul:after {
		margin-right: 20px;
	}
	li {
		position: relative;
		&:first-child {
			&:before {
				display: none;
			}
		}
		a {
			color: rgba(255,255,255,.6);
			font-size: 14px;
			line-height: 40px;
			padding: 0 20px;
			-webkit-transition: all 200ms;
			-moz-transition: all 200ms;
			transition: all 200ms;
		}
		&.current-menu-item a,
		&.sfHover a,
		a:hover {
			background-color: #222;
			color: #fff;
		}
		ul {
			margin: 0;
			&:before {
				background: transparent;
				content: ' ';
				display: block;
				width: 240px;
				height: 8px;
				position: relative;
				margin: -8px 0 0 -15px;
			}
			&:after {
				content: '';
				width: 0; 
				height: 0; 
				border-left: 7px solid transparent;
				border-right: 7px solid transparent;
				border-bottom: 7px solid #333;		
				position: absolute;
				top: -7px;	
				left: 20px;	
			}
		}
		li {
			border-right: none;
			line-height: 1.5;
			padding-top: 0;
			&:before {
				content: none;
			}
			a:link,
			a:visited {
				background: none;
				border-bottom: none;
				color: rgba(255,255,255,0.7);
				font-size: 14px;
				font-weight: normal;
				line-height: 1.5;				
				margin: 0;	
				padding: 10px 20px;	
			}
			a:hover {
				background-color: #3d3d3d;
				color: #fff;
			}
			&.current-menu-item {
				a {
					color: #fff;
				}			
			}			
			.sf-with-ul:after {
				top: 22px;
			}			
			ul {
				&:before,
				&:after {
					content: none;
				}
			}
		}		
	}
}
#secondary-menu {	
	&.sf-arrows .sf-with-ul:after {
		margin-top: -7px;
	}
	&.sf-arrows .sf-with-ul {
		padding-right: 30px;
		&:after {
			right: 25px;
		}
	}
	&.sf-arrows li li .sf-with-ul {
		padding-right: 0;
		&:after {
			margin-top: -10px;
			margin-right: 0;
		}
	}
	li {
		line-height: 49px;
		position: relative;		
			
		&:first-child {
			a {
				margin-left: 0;
			}
		}
		a {
			color: #fff;
			font-size: 15px;
			font-weight: bold;
			padding: 0 20px;
			&:before {
				display: block;
				content: '';
				border-bottom: solid 3px transparent;  
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				margin: 0 10px;
				transform: scaleX(0);  
				transition: transform 250ms ease-in-out;									
			}					
			&:hover {
				background-color: #1d1d1d;
				&:before {
					transform: scaleX(1);  
				}	
			}				
		}
		&.sfHover a,
		&.current-menu-item a,
		&.current-menu-item a:hover {
			color: #fff;
			&:before {
				transform: scaleX(1); 				
			}
		}
		&.sfHover a {
			background-color: #1d1d1d;
		}
		ul {
		}
		li {
			line-height: 1.6;
			padding-bottom: 0;
			a:before {
				content: none;
			}
			&:first-child a {
				margin-left: 0;
			}
			a:link,
			a:visited {
				background: none;	
				background-repeat: none;	
				border-top: none;
				border-bottom: none;		
				color: rgba(255,255,255,0.7);
				font-size: 15px;
				line-height: 1.5;
				font-weight: normal;
				margin: 0;
				padding: 10px 20px;
				text-transform: none;
			}
			a:hover {
				background-color: #3d3d3d;
			}
		}
	}
}
/*--------------------------------------------------------------
 Homepage
--------------------------------------------------------------*/

#page {

}
/* Site Content */
.site-content {
	padding: 30px 0 25px;
}
#primary {
	float: left;
	width: 743px;
}

/*--------------------------------------------------------------
  Recent Content
--------------------------------------------------------------*/

.thumbnail-wrap {
	position: relative;
	.video-length {
		display: none;
		position: absolute;
		right: 4px;
		bottom: 4px;
		background-color: #333;
		background-color: rgba(0,0,0,0.5);
		border-radius: 2px;
		color: #fff;
		color: rgba(255,255,255,0.7);
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		line-height: 1;
		font-size: 11px;
		height: 16px;
		line-height: 16px;
		padding: 0 4px;
	}
	.genericon {
		color: rgba(0,0,0,0.5);
		display: none;
		font-size: 48px;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 48px;
		height: 48px;
		line-height: 48px;
		margin: -24px 0 0 -24px;
		text-align: center;
		vertical-align: middle;
	}
}
.entry-title {
	a,
	a:visited {
		color: #fff;
	}
}
#featured-content {
	margin: 0 0 40px;
	.hentry {
		-webkit-transition: 300ms ease-in-out;
  		transition: 300ms ease-in-out;
		-webkit-backface-visibility: hidden;		  				
		.thumbnail-link {
			float: left;
			width: 515px;
			margin: 0 25px 0 0;
			line-height: 0.5;
			&:hover {
				.thumbnail-wrap .genericon {
					color: rgba(0,0,0,0.7);
				}
			}
		}
		.entry-header {
			margin-bottom: 10px;			
		}
		.entry-title {
			font-size: 28px;
			line-height: 1.15;
			margin-bottom: 10px;
		}
		.entry-summary {
			display: table;
		}	
		.entry-more {
			margin-top: 20px;
			a {
				background-color: #333;
				color: #fff;
				border-radius: 3px;
				display: inline-block;
				height: 40px;
				line-height: 40px;
				padding: 0 15px;
				&:hover {
					background-color: #444;
					color: #fff;
					text-decoration: none;
				}
			}
		}
	}
}
.section-heading {
	background-color: #222;
	border-radius: 3px;
	height: 48px;
	line-height: 48px;
	padding: 0 20px;
	position: relative;
	margin-bottom: 18px;		
}
.section-title {
	font-size: 22px;
	a,
	a:visited {
		line-height: 40px;		
		position: relative;
		&:after {
			content: "\f432";
			display: inline-block;
			font-family: "genericons";
			font-size: 22px;
			position: relative;
			top: 5px;
			left: 2px;
			-ms-transform: rotate(90deg); /* IE 9 */
			-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
			transform: rotate(90deg);					
		}
	}
	a:hover {
		color: #fff;
		text-decoration: none;
	}
}	
#recent-content {
	position: relative;	
	.widget_ad {
		margin: 0 0 30px;
		text-align: center;
		.widget-title {
			color: #aaa;
			font-weight: normal;
			font-size: 12px;
			margin-bottom: 3px;
		}
		.adwidget {
			line-height: 0.5;
		}
	}
}

.widget-videohost-home-posts-block {
	//margin: 0 0 15px 0;
}

.breadcrumbs {
	position: relative;	
	h1 {
		font-size: 24px;
		margin-bottom: 20px;
	}
}

#featured-content,
.content-loop,
.entry-related {
	.entry-category {
		display: block;
		font-size: 12px;
		line-height: 1;
		margin-bottom: 10px;
		a {
			color: rgba(255,255,255,0.6);
			&:hover {
				color: #fff;
			}
		}
	}
	.entry-meta {
		color: #aaa;
		font-size: 12px;
		a,
		a:visited {
			color: #aaa;
		}
		a:hover {
			color: #555;
			text-decoration: none;
		}		

		.entry-views {
			margin-left: 8px;
			padding-left: 12px;
			position: relative;
			strong {
				font-weight: normal;
			}
			&:before {
				background-color: #aaa;
				border-radius: 50%;
				color: #aaa;
				content: " ";
				display: inline-block;
				width: 3px;
				height: 3px;
				position: absolute;
				left: 0;
				top: 7px;					
			}
		}		
	}		
}

.content-loop {
	margin-bottom: -25px;
	.hentry {
		float: left;
		margin: 0 25px 40px 0;
		width: 231px;
		position: relative;	
		&:nth-of-type(3n) {
			margin-right: 0;
		}
		&:nth-of-type(3n+1) {
			clear: left;
		}
		&:hover {
			.entry-header {
				background-color: #2d2d2d;
			}
		}		
	}	
	.thumbnail-link {
		display: block;
		width: 100%;
		position: relative;
		line-height: 0.5;
		text-align: center;
		img {
			border-top-left-radius: 3px;
			border-top-right-radius: 3px;
			width: 100%;
			-webkit-transition: 200ms;
			transition: 200ms;			
		}
	}
	.entry-header {
		background-color: #222;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		padding: 15px;
	}
	.entry-title {
		font-size: 15px;
		line-height: 1.3;
		margin-bottom: 5px;
	}

	.entry-summary {
		color: #fff;
		font-size: 15px;
		line-height: 1.4;
		margin-bottom: 5px;
		p {
			display: inline;
		}
		span {
			font-size: 14px;
			a,
			a:visited {
				color: #87D07E;
			}
		}
	}

	.entry-more {
		a {
			font-size: 14px;
			border-bottom: 1px solid;
			&:hover {
				color: #000;
				border-bottom-color: #000;
				text-decoration: none;
			}
		}
	}
}

.entry-share {
	position: relative;
	-webkit-transition: 200ms;
		transition: 200ms;	

	a,
	a:visited {
		border-radius: 2px;
		color: #fff;
		font-size: 13px;
		display: inline-block;
		height: 38px;
		margin: 0 8px 0 0;;
		padding: 0 13px;
		-webkit-backface-visibility: hidden;		  						
		img {
			display: block;
			float: left;
			width: 14px;
			height: auto;
			margin: 12px 0 0 0;
		}
		span {
			display: inline-block;
			height: 14px;
			line-height: 14px;
			margin-top: 12px;
		}
		&.twitter,
		&.facebook {
			span {
				border-left: 1px solid rgba(255,255,255,0.2);
				margin-left: 10px;
				padding-left: 10px;
			}
		}
		&.twitter {

		}
		&.google-plus,
		&.pinterest {
			span {
				text-indent: -9999em !important;
			}
		}				
	}	
	a:hover {
		color: #fff;
		opacity: 0.85;
	}
}
.social-twitter {
	background-color: #29c5f6;
}
.social-facebook {
	background-color: #516eab;
}
.social-pinterest {
	background-color: #ca212a;
}
.social-google-plus {
	background-color: #eb4026;
}

/*--------------------------------------------------------------
 Pagination
--------------------------------------------------------------*/
.pagination {
	background-color: #222;
	border-radius: 3px;
	height: 48px;
	line-height: 42px;
	margin: 10px 0 20px 0;
	width: 100%;
	text-align: center;

	.page-numbers {
		border-top: 3px solid transparent;
		border-bottom: 3px solid transparent;
		display: inline-block;
		font-size: 18px;
		font-weight: bold;
		margin: 0 5px;
		padding: 0 5px;
		color: rgba(255,255,255,0.7);
		&:hover {
			color: #fff;
			text-decoration: none;	
		}
		&.current {
			color: #fff;
			&:hover {
				color: #fff;
			}
		}		
	}
}

/*--------------------------------------------------------------
 Single Post/Page
--------------------------------------------------------------*/
.page-title {
	font-size: 32px;
	margin-bottom: 15px;
	line-height: 1.2;
}
.single {
	#primary {
		visibility: hidden;
	}
	article.has-embed {
		padding-top: 442px;
		position: relative;
		.fluid-width-video-wrapper.first-video,
		.wp-video.first-video {
			position: absolute;
			top: 0;
			left: 0;
		}			
	}
	.entry-content {
		iframe,
		object,
		embed,
		.wp-video-shortcode {
			max-height: 418px;
			overflow: hidden;
		}		
	}
	.breadcrumbs {
		color: #aaa;
		font-size: 13px;
		margin-bottom: 15px;
		span {
			font-size: 14px;
			padding: 0 3px;
		}
		a,
		a:visited {
			color: #aaa;
		}
		a:hover {
			color: #fff;
			text-decoration: none;
		}
	}
	.entry-header {
		border-bottom: 1px solid #333;
		margin-bottom: 25px;
		padding-bottom: 18px;
		position: relative;
		.entry-meta {
			font-size: 12px;
			position: relative;
			color: #aaa;
			.entry-author {
				.avatar {
					border-radius: 50%;
					width: 30px;
					height: auto;
					margin: 0 5px -9px 0;
				}
			}
			a:hover {
				color: #fff;
			}		
		}	
		.meta-right {
			position: absolute;
			right: 0;
			top: -4px;
		}
		.entry-like {
			float: right;
			min-width: 32px;
			margin-right: 10px;
		}
		.entry-like a {
			color: #aaa;
			&:before {
				content: "\f461";
				display: inline-block;
				font-family: "genericons";
				font-size: 17px;
				position: relative;	
				padding-right: 3px;
				top: 5px;		
			}
			&:hover {
				color: #fff;
				text-decoration: none;
			}
		}					
		.entry-comment {
			float: right;
		}		
		.entry-comment a {
			color: #aaa;
			&:before {
				content: "\f300";
				display: inline-block;
				font-family: "genericons";
				font-size: 17px;
				position: relative;	
				padding-right: 3px;
				top: 5px;						
			}
			&:hover {
				text-decoration: none;
				color: #fff;
			}
		}
		.entry-share {
			margin-bottom: 20px;
		}		
	}
	.entry-footer {
		margin-top: 20px;
	}	
}
.error404,
.single,
.page, {
	.site-main {
		position: relative;
		.entry-thumbnail {
			margin-bottom: 10px;
		}		
	}
	h1.entry-title {
		font-size: 30px;
		line-height: 1.2;
		display: block;
		margin-bottom: 15px;
	}
}
.error404 {
	.entry-content,
	.page-content {
		label {
			display: inline-block;
		}
	}
}
.single #primary article,
.widget_posts_thumbnail {
	.entry-views {
		font-size: 12px;
		margin-left: 8px;
		padding-left: 12px;
		position: relative;
		strong {
			font-weight: normal;
		}
		&:before {
			background-color: #aaa;
			border-radius: 50%;
			color: #aaa;
			content: " ";
			display: inline-block;
			width: 3px;
			height: 3px;
			position: absolute;
			left: 0;
			top: 7px;					
		}
	}	
}
/* Related  Posts */
.entry-related {
	border-top: 1px solid #333;
	margin: 25px 0 -15px 0;
	padding: 25px 0 0 0;
	h3 {
		font-size: 22px;
		margin-bottom: 15px;
	}
	.hentry {
		float: left;
		width: 231px;
		margin: 0 25px 25px 0;
		&.last {
			margin-right: 0;
		}
		&:nth-of-type(3n+1) {
			clear: left;
		}
		.entry-title {
			font-size: 15px;
			line-height: 1.2;
			margin-bottom: 5px;
		}
		.thumbnail-link {
			display: block;
			width: 100%;
			margin: 0 0 10px 0;
		}
		.thumbnail-wrap {
			height: auto;
			line-height: 0.8;
		}
	}
}

/* Entry Tags */
.entry-tags {
	margin-bottom: 20px;
	span {
		font-size: 13px;
		margin-right: 10px;
	}
	.tag-links a {
		background-color: #444;
		border-radius: 2px;
		box-shadow: 0 1px 0 rgba(0,0,0,0.05);
		color: #fff;
		display: inline-block;
		font-size: 13px;
		margin: 0 2px 0 0;
		padding: 2px 8px 2px 18px;
		position: relative;
		text-transform: lowercase;
		&:hover {
			background-color: #555;
			color: #fff;
			text-decoration: none;					
		}
		&:before {
			font-family: "genericons";
			font-size: 18px;
			color: #aaa;
			content: "\f428";
			position: absolute;
			left: 1px;
			top: 3px;
		}
	}
}
/* Author Box */
.author-box {
	background-color: #333;
	border-radius: 3px;
	margin-top: 25px;
	padding: 20px;

	.avatar {
		border-radius: 50%;
		float: left;
		width: 72px;
		height: auto;
		line-height: 0.8;
		margin: 0 15px 0 0;
	}
	.author-meta {
		display: table;
		.author-name {
			font-size: 18px;
			margin-bottom: 5px;
			span {
			}
		}
		.author-desc {
		}
	}
}

/* Entry Content */
.page-content,
.entry-content {
	.wp-post-image {
		margin-bottom: 10px;
	}
	a {
		border-bottom: 1px solid;
		&:hover {
			border-bottom-color: #fff;
			color: #fff;
			text-decoration: none;
		}
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: #fff;
		margin-bottom: 25px;
		line-height: 1.35;
	}
	h1 {
		font-size: 30px;
	}
	h2 {
		font-size: 26px;
	}
	h3 {
		font-size: 22px;
	}
	h4 {
		font-size: 18px;
	}
	h5,h6 {
		font-size: 16px;
	}
	p {
		line-height: 1.7;
		margin-bottom: 25px;
		br {
		}
	}
	ul,
	ol {
		margin: 0 0 25px 0;
		ul,
		ol {
			margin: 8px 0 0 25px;
		}
	}
	ul li {
		list-style: none;
		margin: 0 0 12px 0;
		padding-left: 21px;
		position: relative;
		&:before {
			font-family: "genericons";
			color: #aaa;
			content: '\f428';
			font-size: 20px;
			margin-left: -4px;
			text-align: left;	
			position: absolute;
			top: 2px;
			left: 0;		
		}
		a:hover {
			color: #fff;
		}
		ul li {
			list-style: none;
		}
	}
	ol li {
		list-style: inside decimal;
		margin: 0 0 10px 0;
	}
	select {
		padding: 0 5px;
		&:focus,
		&:active {
			outline: none;
		}
	}
	dl {
		margin-bottom: 20px;
	}
	fieldset {
		border: 1px solid #333;
	    margin: 0 2px 20px 2px;
	    padding: 0.35em 0.625em 0.75em;
	}
	input[type="radio"] {
		-webkit-appearance: radio;
	}
	input[type="checkbox"] {
		-webkit-appearance: checkbox;
	}	

	::-webkit-file-upload-button {
		-webkit-appearance: button;
		font: inherit;
	}
	label {
		display: block;
		font-weight: bold;
	}
	table {
		margin-bottom: 20px;
	}
	select {
		border: 1px solid #e9e9e9;
		font-size: 1em;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		height: 2em;
		max-width: 100%;
		-webkit-appearance: menulist;
	}
	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="search"],
	input[type="password"] {
		width: 300px;
	}
	input[type="file"] {
		border: none;
	}
	textarea {
		width: 100%;
		height: 200px;
	}
	.wp-caption {
		background-color: #333;
		padding: 0 0 1px 0;
	}
	.wp-caption-text {
		font-size: 13px;
		font-style: italic;
		color: #aaa;
	}
}

blockquote {
	font-size: 18px;
	font-style: italic;
	padding: 0.25em 50px;
	line-height: 1.45;
	position: relative;

	&:before {
		display: block;
		content: "\201C";
		font-size: 64px;
		position: absolute;
		left: 0;
		top: -15px;
		color: #cccccc;
	}

	cite {
		color: #fff;
		display: block;
		margin-top: 10px;

		&:before {
			content: "\2014 \2009";
		}
	}
}
#primary p,
.widget p {
	line-height: 1.7em;
}

/*--------------------------------------------------------------
 Archive/Search Page
--------------------------------------------------------------*/
.search-no-results {
	.page-title {
		font-size: 24px;
		margin-bottom: 10px;
	}
	.no-results {

	}
	.page-content label, 
	.entry-content label {
		display: inline;
	}
}
.widget_tag_cloud {
	a {
		border: none;
	}
}
/*--------------------------------------------------------------
 Comments
--------------------------------------------------------------*/
.comments-area {
	border-top: 1px solid #333;
	padding: 25px 0 0 0;
}

.comments-title {
	font-size: 22px;
	margin-bottom: 25px;
}
.comment-reply-title {
	font-size: 22px;
	margin-bottom: 20px;
}
.comment-list {
	border-bottom: 1px solid #333;
	list-style: none;
	margin: 0 0 20px 0;
}

.comment-author {
	font-size: 14px;
}
.comment-meta {
	margin-bottom: 4px;
}
.comment-list .reply,
.comment-metadata {
	font-size: 13px;
}

.comment-list .reply {
	margin-top: 10px;
}

.comment-author .fn {
	font-weight: bold;
}

.comment-author a {
	color: #2b2b2b;
}

.comment-list .trackback,
.comment-list .pingback,
.comment-metadata,
.comment-list .reply {
	a,
	a:visited {
		color: #767676;
	}
}
.comment-list .trackback a:hover,
.comment-list .pingback a:hover,
.comment-metadata a:hover,
.comment-list .reply a:hover {
	color: #fff;
}
.comment-author a {
	&:hover {
		color: #4b4f56;
	}
}

.comment-list article,
.comment-list .pingback,
.comment-list .trackback {
	margin: 0 0 20px 0;
}

.comment-list > li:first-child > article,
.comment-list > .pingback:first-child,
.comment-list > .trackback:first-child {
	border-top: 0;
}

.comment-author {
	position: relative;
}

.comment-author .avatar {
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
	width: 48px;
	height: auto;	
}

.bypostauthor > article .fn:before {
	color: #fbb034;
	content: "\f408";
	margin: 0 2px 0 -2px;
	position: relative;
	top: -1px;
}

.says {
	display: none;
}

.comment-author,
.comment-awaiting-moderation,
.comment-content,
.comment-list .reply {
	padding-left: 64px;
}
.comment-author {
	display: inline;
}
.comment-metadata {
	display: inline;
	margin-left: 7px;
}
.comment-edit-link {
	margin-left: 10px;
	&:hover {
		text-decoration: none;
	}
}
#cancel-comment-reply-link:hover {
	text-decoration: none;
}
.comment-edit-link:before {
	content: "\f411";
}

.comment-reply-link:hover {
	text-decoration: none;
}
.comment-reply-link:before,
.comment-reply-login:before {
	content: '\f467';
	color: #aaa;
	margin-right: 2px;
}

.comment-content {
	-webkit-hyphens: auto;
	-moz-hyphens:    auto;
	-ms-hyphens:     auto;
	hyphens:         auto;
	word-wrap: break-word;
}

.comment-content ul,
.comment-content ol {
	margin: 0 0 24px 22px;
}

.comment-content li > ul,
.comment-content li > ol {
	margin-bottom: 0;
}

.comment-content > :last-child {
	margin-bottom: 0;
}

.comment-list .children {
	list-style: none;
	margin-left: 64px;
}

.comment-respond {
}

.comment .comment-respond {
	margin: 25px 0;
}

.comment-respond h3 {
	margin-top: 0;
}

.comment-notes,
.comment-awaiting-moderation,
.logged-in-as,
.no-comments,
.form-allowed-tags,
.form-allowed-tags code {
	color: #767676;
	a,
	a:visited {
		color: #767676;
		&:hover {
			color: #fff;
		}
	}
}

.comment-notes,
.comment-awaiting-moderation,
.logged-in-as {
	font-size: 14px;
	font-style: italic;
	margin-bottom: 10px;
}

.no-comments {
	font-size: 16px;
	font-weight: 900;
	line-height: 1.5;
	margin-top: 24px;
	text-transform: uppercase;
}

.comment-form {
	.comment-form-comment,
	.comment-form-author,
	.comment-form-email,
	.comment-form-url {
		margin-bottom: 20px;
	}

	textarea {
		width: 100%;
	}
	.comment-form-author {
		float: left;
		width: 238px;
		margin-right: 15px;
	}
	.comment-form-email {
		float: left;
		width: 238px;
		margin-right: 15px;
	}
	.comment-form-url {
		float: left;
		width: 237px;
	}
	&:after {
		content: '';
		display: block;
		clear: both;
	}
	.submit {
		padding: 0 18px;
	}
}
.comment-form label {
	display: block;
	font-size: 15px;
	font-weight: bold;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"] {
	width: 100%;
}

.form-allowed-tags,
.form-allowed-tags code {
	font-size: 12px;
	line-height: 1.5;
}

.required {
	color: #c0392b;
}

.comment-reply-title small a {
	color: #2b2b2b;
	float: right;
	height: 24px;
	overflow: hidden;
	width: 24px;
}

.comment-reply-title small a:before {
	content: "\f405";
	font-size: 20px;
}

.comment-navigation {
	font-size: 12px;
	line-height: 2;
	margin-bottom: 48px;
	text-transform: uppercase;
}

.comment-navigation .nav-next,
.comment-navigation .nav-previous {
	display: inline-block;
}

.comment-navigation .nav-previous a {
	margin-right: 10px;
}

#comment-nav-above {
	margin-top: 36px;
	margin-bottom: 0;
}

/*--------------------------------------------------------------
 Sidebar
--------------------------------------------------------------*/

.sidebar {
	float: right;
	width: 300px;
	margin-bottom: -20px;
	.widget {
		margin-bottom: 25px;
		position: relative;

		.widget-title {
			border-bottom: 2px solid #555;
			color: #fff;
		    font-size: 20px;
		    margin-bottom: 15px;
		    padding-bottom: 10px;
		}	
		p {
			margin-bottom: 15px;
		}
		ul {
			.children,
			.sub-menu {
				padding-left: 1.5em;
				li:first-child {
					padding: 15px 0;
					border-top: 1px solid #e9e9e9;
				}
			}
		}
		ul > li {
			list-style: none;
			margin-bottom: 15px;	
			position: relative;
			padding-left: 14px;
			a {
				color: #fff;
			}
			&:before {
				border-radius: 50%;
				content: " ";
				display: inline-block;
				width: 4px;
				height: 4px;
				position: absolute;
				left: 0;
				top: 11px;					
			}			
		}
		ul li:last-child {
			margin-bottom: 0;
		}
		select {
			width: 100%;
			max-width: 100%;
		}
	}
	.widget_search {
		input[type='search'] {
			width: 214px;
		}
		input[type='submit'] {
			width: 80px;
			text-align: center;
			padding-left: 0;
			padding-right: 0;
		}
	}
	.widget_social_icons,
	.widget_posts_thumbnail {
		ul li {
			list-style: none;
			&:before {
				content: none;
				display: none;
			}
		}
	}
}

/* Tag Cloud Widget */
.widget_tag_cloud {
	.tagcloud a {
		background-color: #444;
		border-radius: 2px;
		box-shadow: 0 1px 0 rgba(0,0,0,0.05);
		color: #fff !important;
		display: inline-block;
		font-size: 13px !important;
		margin: 0 2px 7px 0;
		padding: 2px 8px 2px 18px;
		position: relative;
		text-transform: lowercase;
		&:hover {
			background-color: #555;
			color: #fff !important;
			text-decoration: none;					
		}
		&:before {
			font-family: "genericons";
			font-size: 18px;
			color: #aaa;
			content: "\f428";
			position: absolute;
			left: 1px;
			top: 3px;
		}
	}
}
/* Recent Posts Widget */
.widget_recent_entries {
	.post-date {
		font-size: 13px;
		color: #aaa;
		margin-left: 5px;
	}
}

/* Categories Widget */
.widget_categories {
	ul li {
		color: #aaa;
	}
}

/*--------------------------------------------------------------
 Footer
--------------------------------------------------------------*/
.footer-columns {
	border-bottom: 1px solid #292929;	
	padding: 25px 0 5px 0;

	.widget {
		margin-bottom: 20px;
	}
	.footer-column-1,
	.footer-column-2,
	.footer-column-3 {
		float: left;
		width: 333px;
		margin: 0 40px 0 0;
		box-sizing: content-box;
		position: relative;
	}
	.footer-column-3 {
		margin-right: 0;
	}

}
.site-footer {
	background-color: #222;	
    box-shadow: 0 1px 4px rgba(0, 0, 0, .06);	
	.widget {
		color: #999;
		font-size: 14px;
		margin-bottom: 20px;	
		.widget-title {
			border-bottom: 2px solid #555;
			color: #fff;
		    font-size: 20px;
		    margin-bottom: 15px;
		    padding-bottom: 10px;
		}	
		p {
			color: rgba(255,255,255,0.6);
			margin-bottom: 15px;
		}
		ul {
			.children,
			.sub-menu {
				padding-left: 1.5em;
				li:first-child {
					border-top: none;
					padding-top: 0;
				}
				li:last-child {
					border-bottom: none;
					padding-bottom: 0;
				}
			}
		}
		ul > li {
			list-style: none;
			padding: 0;
			margin-bottom: 15px;
			a {
				color: #fff;
			}
		}
		ul li:first-child {
			border-top: none;
			padding-top: 0;
		}
		
		ul li:last-child {
			border-bottom: none;
			margin-bottom: 0;
			padding-bottom: 0;
		}
		select {
			width: 100%;
			max-width: 100%;
		}
	}	
}

.site-footer,
.sidebar {
	ul li {
		line-height: 1.4;
	}
	/* Ad Widget */
	.widget_ad {
		border: none;
		background: none;
		padding: 0;
		&:before {
			display: none;
		}
		.widget-title {
			color: #aaa;
			font-size: 12px;
			font-weight: normal;
			margin-bottom: 5px;
			text-align: center;
		}
		.adwidget {
			text-align: center;
		}
		img {
			line-height: 0.8;
		}
	}
	/* Newsletter Widget */
	.widget_newsletter {
		.widget-title {
		}
		p {
		}
		form {
			input {
			}
			input[type="text"],
			input[type="email"] {
				width: 100%;	
				margin-top: 13px;		
				&:focus {
				}
			}
			input[type="submit"],
			input[type="button"],
			button {
				width: 100%;
				margin-top: 13px;		
			}
			h1,h2,h3,h4,h5,h6,label {
				display: none;
			}
		}
		div,
		p,
		br {
			display: inline;
		}
		.clear {
			&:before,
			&:after {
				display: none !important;
			}
		}
	}
	/* Social Icons Widget */
	.widget_social_icons {
		background-color: #222;
		border-radius: 3px;
		padding: 20px 0;
		&:before {
			display: none;
		}
		.widget-title {
			border-bottom: none;
			text-align: center;
			margin-bottom: 5px;
			padding-bottom: 0;
			span {
				background: none;
				padding: 0 10px;
			}
			&:after {
				content: none;
			}
		}
		.desc {
			color: #aaa;
			font-size: 14px;
			margin-bottom: 15px;
			text-align: center;		
		}
		ul {
			text-align: center;
		}
		ul li {
			border: none;
			display: inline-block;
			margin: 0 5px;		
			padding: 0;
			a {
				display: block;
				width: 32px;
				text-align: center;	
				-webkit-appearance: none;
				-webkit-backface-visibility: hidden;				
				&:hover {
					opacity: 0.85;
				}							
			}					
		}
	}	

	/* Posts with Thumbnail Widget */
	.widget_posts_thumbnail {
		ul > li {
			line-height: 1.2;	
			margin: 0 0 20px 0;
			padding: 0;		
		}
		li:after {
			content: "";
			display: block;
			clear: both;
		}
		.entry-thumbnail {
			float: left;
		}
		.entry-wrap {
			display: table;	
			a {
				font-size: 13px;
				font-weight: bold;
			}		
		}
		.wp-post-image,
		img {
			width: 130px;
			height: auto;
		}	
		.thumbnail-wrap {
			float: left;
			margin: 0 12px 0 0;
			line-height: 0.5;
		}
		.entry-meta {
			color: #aaa;
			font-size: 12px;
			margin-top: 5px;
		}
	}

}
.site-footer {
	.widget_social_icons {
		padding-bottom: 0;
		.widget-title {
			padding-top: 0;
		}
	}	
}
/* Back to top button */
#back-top {
	display: none;
	position: fixed;
	right: 15px;
	bottom: 15px;
}
#back-top a {
	span {
		background-color: #444;
		border-radius: 3px;
    	color: #fff;
		font-size: 20px;
		width: 30px;
		height: 30px;
		display: block;
		line-height: 30px;
		text-align: center;
		text-decoration: none;
		vertical-align: middle;				
	}
	&:hover {
		text-decoration: none;
	}
}

/* Site Bottom */
#site-bottom {	
	font-size: 13px;	
	color: rgba(255,255,255,0.7);
	padding: 20px 0;

	.site-info {
		float: left;
		position: relative;
		a {
			color: rgba(255,255,255,0.6);
			&:hover {
				color: #fff;
			}	
		}
	}	

	.footer-nav {
		float: right;
		position: relative;
		li {
			display: inline-block;
			list-style: none;
			line-height: 1;
			margin: 0 0 0 20px;
			&:last-child {
				border-right: none;
				padding-right: 0;
			}
			a {
				color: rgba(255,255,255,0.6);
				&:hover {
					color: #fff;
				}
			}
			li {
				display: none;
			}
		}
	}	
}

/*--------------------------------------------------------------
 Misc.
--------------------------------------------------------------*/
.notice {
	background-color: #333;
	border-radius: 3px;
	padding: 30px;
	text-align: center;
}	
.wp-post-image {
	width: 100%;
	height: auto;
}
/* Mobile Menu */
.mobile-menu-icon {
	display: none;
	position: absolute;
	top: 11px;
	right: 50px;

	.menu-icon-close,
	.menu-icon-open {
		background-color: #353535;
		border-radius: 3px;
		color: #fff;
		cursor: pointer;
		display: block;
		font-size: 13px;
		font-weight: bold;
		width: 64px;
		height: 28px;
		line-height: 28px;
		text-align: center;
		text-transform: uppercase;	
		&:hover {
			background-image: url('assets/img/overlay.png');
			background-repeat: repeat;
		}			
	}
	.menu-icon-close {
		display: none;
		.genericon {
			margin-top: -2px;
			font-size: 18px;
			font-weight: 600;
			line-height: 1;
			vertical-align: middle;
		}
	}
	.menu-icon-open.active {
		display: none;
	}
	.menu-icon-close {
		display: none;
	}
	.menu-icon-close.active {
		display: inline-block;
	}	
}
.mobile-menu {
	background-color: #333;
	display: none;
	position: absolute;
	width: 100%;
	top: 51px;
	padding: 20px 0;
	z-index: 99;
	.menu-left,
	.menu-right {
		float: left;
		width: 50%;
	}
	h3 {
		color: #fff;
		font-size: 14px;
		margin-bottom: 15px;
		text-transform: uppercase;
	}
	ul {
		li {
			display: block;
			list-style: none;
			margin-bottom: 15px;
			&:hover {
				&:before {
					color: #f42;
				}
			}
			&:before {
				font-family: "genericons";
				content: '\f428';
				color: #aaa;
				font-size: 15px;
				margin-left: -4px;
				padding-right: 2px;
				vertical-align: middle;
				text-align: left;			
			}			
			&:last-child {
				margin-bottom: 0;
			}
			&.menu-item-home {
				display: none;
			}
			a {
				color: #aaa;
				font-size: 14px;
			}
			ul li {
				//display: none;
			}
		}
	}
}

/*
 Safari Fixes
*/
_::-webkit-full-page-media, _:future, :root {
	.header-search {
		.search-submit {
			right: 5px;
		}
	}
}

/* FlexSlider */
/*
 * jQuery FlexSlider v2.6.4
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 *
 */
/* ====================================================================================================================
 * FONT-FACE
 * ====================================================================================================================*/
@font-face {
	font-family: 'flexslider-icon';
	src: url('assets/fonts/flexslider-icon.eot');
	src: url('assets/fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('assets/fonts/flexslider-icon.woff') format('woff'), url('assets/fonts/flexslider-icon.ttf') format('truetype'), url('assets/fonts/flexslider-icon.svg#flexslider-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.flex-container a:hover,
.flex-slider a:hover {
	outline: none;
}
.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}
.flex-pauseplay span {
	text-transform: capitalize;
}
/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider {
	margin: 0;
	padding: 0;
}
.flexslider .slides > li {
	display: none;
	-webkit-backface-visibility: hidden;
}
.flexslider .slides img {
	width: 100%;
	display: block;
}
.flexslider .slides:after {
	content: "\0020";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
html[xmlns] .flexslider .slides {
	display: block;
}
* html .flexslider .slides {
	height: 1%;
}
.no-js .flexslider .slides > li:first-child {
 	display: block;
}
/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
#slider {
	background-color: #222;
	border-top-left-radius: 4px;  
	border-top-right-radius: 4px;    
	padding: 25px;
}
#carousel {
	background-color: #3d3d3d;
	border-bottom-left-radius: 4px;  
	border-bottom-right-radius: 4px;     
	padding: 25px 34px 40px 34px;
	img {
		border-radius: 4px;
		opacity: 0.6;
		transition: all 200ms ease;  
		-webkit-backface-visibility: hidden;				
		&:hover {
			cursor: pointer;
			opacity: 1;
		}
	}
	li.flex-active-slide {
		img {
			opacity: 1;
		}
  	}
  	.flex-direction-nav {
  		a {
  			background-color: #222;
  			border-radius: 50%;
  			width: 22px;
  			height: 22px;
  			line-height: 21px;
  			margin: -16px 0 0 0;
  			text-align: center;
  			&:before {
  				font-size: 9px;
  				text-shadow: none;
  				vertical-align: middle;
  			}
  		}
  		.flex-next {
  			right: 6px;

  		}
  		.flex-prev {
  			left: 6px;
  		}
  	}
}

.flexslider {
	position: relative;
	zoom: 1;
	-webkit-box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
	-o-box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
	box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
	.slides {
		zoom: 1;
		img {
			height: auto;
			-moz-user-select: none;
		}
	}
}

.flex-viewport {
	max-height: 2000px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.loading .flex-viewport {
 	max-height: 300px;
}

.carousel li {
 	margin-right: 5px;
}

.flex-direction-nav {
	*height: 0;
	a {
		text-decoration: none;
		display: block;
		width: 40px;
		height: 40px;
		margin: -20px 0 0;
		position: absolute;
		top: 50%;
		z-index: 10;
		overflow: hidden;
		cursor: pointer;
		color: rgba(0, 0, 0, 0.8);
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		&:before {
			font-family: "flexslider-icon";
			font-size: 32px;
			display: inline-block;
			content: '\f001';
			color: rgba(255, 255, 255, 0.8);
			line-height: 1;
		}
		&.flex-next:before {
			content: '\f002';
		}
	}
	.flex-prev {
		left: -30px;
	}
	.flex-next {
		right: -30px;
		text-align: right;
	}
}

.flexslider:hover .flex-direction-nav {
	.flex-prev, .flex-next {
		opacity: 0.7;
		&:hover {
			opacity: 1;
		}
	}
}

.flex-direction-nav .flex-disabled {
	opacity: 0 !important;
	filter: alpha(opacity = 0);
	cursor: default;
	z-index: -1;
}

.flex-pauseplay a {
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	bottom: 5px;
	left: 10px;
	opacity: 0.8;
	z-index: 10;
	overflow: hidden;
	cursor: pointer;
	color: #000;
		&:before {
		font-family: "flexslider-icon";
		font-size: 20px;
		display: inline-block;
		content: '\f004';
	}
	&:hover {
		opacity: 1;
	}
	&.flex-play:before {
		content: '\f003';
	}
}

.flex-control-nav {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	li {
		margin: 0 6px;
		display: inline-block;
		zoom: 1;
		*display: inline;
	}
}

.flex-control-paging li a {
	width: 10px;
	height: 10px;
	display: block;
	background: #222;
	cursor: pointer;
	text-indent: -9999px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	&:hover {
		background: #777;
	}
	&.flex-active {
		background: #777;
		cursor: default;
	}
}

.flex-control-thumbs {
	margin: 5px 0 0;
	position: static;
	overflow: hidden;
	li {
		width: 25%;
		float: left;
		margin: 0;
	}
	img {
		width: 100%;
		height: auto;
		display: block;
		opacity: .7;
		cursor: pointer;
		-moz-user-select: none;
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
		-ms-transition: all 1s ease;
		-o-transition: all 1s ease;
		transition: all 1s ease;
		&:hover {
			opacity: 1;
		}
	}
	.flex-active {
		opacity: 1;
		cursor: default;
	}
}
